---
---

@import "vars", "aesthetics";

:root {
  --box-shadow-m: #{$box-shd};
  --background-modifier-selected: #{$bg-mod-sel};
  --background-modifier-hover: #{$mod-select-hov};
  --background-modifier-accent-border: #{$bg-mod-acc-brd};
  --dock-blur-calc: #{$dock-blur};
}
