---
---

@import "vars", "discode", "settingsmodal";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&family=Sofia+Sans:wght@100;300;400;500&display=swap");

:root {
  --background-primary: #{$bg-primary};
  --background-tertiary: #{$bg-tetry};
  --background-secondary: #{$bg-alt};
  --background-secondary-alt: #{$bg-alt};
  --bg-overlay-chat: #{$bg-primary};
  --bg-overlay-app-frame: #{$bg-over};
  --font-primary: #{$font};
  --box-shadow-m: $box-shd;
  --background-modifier-selected: $bg-mod-sel;
  --background-modifier-accent-border: $bg-mod-acc-brd;
  --dock-blur-calc: $dock-blur;
}
