/**
* @name !aeskethic
* @author Hootsman#0149
  * @version 0.1
  * @description inspired by various discord themes (see README.MD)
  * @authorId 666
  * @authorLink https://hootsdev.github.com
  * @source 
  * @website https://hootsdev.github.com
  * @invite gg

  */

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css);
@import url(https://maendisease.github.io/BetterDiscordStuff/css/ChatBubbles.css);
@import url(https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css);

/* Bottom HorizontalServerList. Simply remove the comments surrounding the @import to enable it. */
/* @import url("https://discordstyles.github.io/Addons/bottomhsl.css"); */
/* Addons */
@import url(https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css);

/* Warning to Remove Minimum Size */
@import url(https://maendisease.github.io/BetterDiscordStuff/Themes/Float/addon/RemoveMinimumSize.css)
(width: 940px);

/* Source */
@import url(https://maendisease.github.io/BetterDiscordStuff/Themes/Float/Float.css)
(max-width: 940px);

/* If your theme has custom settings icons, delete or comment this line */
@import url(https://maendisease.github.io/BetterDiscordStuff/Themes/Float/addon/SettingsIcons.css)
(max-width: 940px);
@import url(https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css);

:root {
  --rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
  --rs-medium-spacing: 3px; /* Gap between avatar and status for User popout | MUST end in px */
  --rs-large-spacing: 4px; /* Gap between avatar and status for User profiles | MUST end in px */

  --rs-small-width: 2px; /* Thickness of status border for members list/dms | MUST end in px */
  --rs-medium-width: 3px; /* Thickness of status border for User popout | MUST end in px */
  --rs-large-width: 4px; /* Thickness of status border for User profile | MUST end in px */

  --rs-avatar-shape: 50%; /* 50% for round - 0% for square */

  --rs-online-color: #43b581; /* Colour for online status */
  --rs-idle-color: #faa61a; /* Colour for idle status */
  --rs-dnd-color: #f04747; /* Colour for dnd status */
  --rs-offline-color: #636b75; /* Colour for offline status */
  --rs-streaming-color: #643da7; /* Colour for streaming status */
  --rs-invisible-color: #747f8d; /* Colour for invisible status - Note: this will only show for your own invisibility */
  --rs-phone-color: var(
    --rs-online-color
  ); /* Colour of the ring and phone icon when a user is on their phone |  */

  --rs-phone-visible: block; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
}

:root {
  /* Guildlist */
  --guildicon-size: 48;
  --enable-if-using-favorites-experiment: 0; /* boolean */
  --guildlist-collapse: 0; /* boolean */

  /* Channel sidebar */
  --slide-window-on-hover: 1; /* boolean */
  --float-sidebar-width: 48;
  --sidebar-hover-width: 240px;
  --sidebar-hover-delay: 0.2s;
  --sidebar-transition-duration: 0.4s;
  --sidebar-window-gap: 8px;
  --sidebar-border-radius: 8px;
  --sidebar-usersettings-width: 66px;

  /* Memberlist */
  --float-members-width: 65px;
  --members-hover-width: 240px;
  --members-hover-delay: 1.5s;
  --members-transition-duration: 0.4s;

  /* Channelheader */
  --topic-opacity: 1;
  --toolbar-visibility: flex; /* [flex][none] */

  /* Textarea buttons */ /* [flex][none] */
  --textarea-buttons-gif: flex;
  --textarea-buttons-sticker: none;
  --textarea-buttons-gift: none;

  /* Theme compatibility */
  /* --float-guildlist-width-correction: 0px; */
}

/* The variables are used when the window is at the set sizes, each media query can be edited/deleted */
@media (max-width: 700px) {
  :root {
    --topic-opacity: 0;
    --toolbar-visibility: none;
    --textarea-buttons-gif: none;
    --textarea-buttons-sticker: none;
  }
}

@media (max-width: 500px) {
  :root {
    --guildicon-size: 40;
    --float-members-width: 0;
  }
}

@media (max-width: 400px) {
  :root {
    --float-sidebar-width: 0;
  }
}

@media (max-width: 300px) {
  :root {
    --guildlist-collapse: 1;
  }
}

:root {
  --HSL-server-icon-size: 40px; /* Size of the server icons | DEFAULT: 40px */
  --HSL-server-spacing: 10px; /* Spacing between each server icon | DEFAULT: 10px */
  --HSL-server-direction: column; /* Direct of the server list. | Options: column, column-reverse | DEFAULT: column */
}
:root {
  --settingsmodalbackground: transparent; /* default:	transparent		(lowest bg color of changed windows, change it in case another theme turns them transparent)	*/
  --settingsmodalwidth: 960px; /* default:	960px			(width of the settings modal, px/vw)															*/
  --settingsmodalheight: 92vh; /* default:	80vh			(height of the settings modal, px/vh)															*/
}
:root {
  --chat-bubble: 1;

  --chat-bubble-background-color: hsla(0, 0%, 0%, 0.601);
  /* --chat-bubble-background-color: var(--trans-grey); */
  --chat-bubble-border-color: var(--background-secondary-alt);
  --chat-bubble-code-background-color: hsl(180, 82%, 46%);

  --chat-bubble-box-shadow-h-offset: 7px;
  --chat-bubble-box-shadow-v-offset: 7px;
  --chat-bubble-box-shadow-blur: 3px;

  --chat-bubble-box-shadow-color-h: 180;
  --chat-bubble-box-shadow-color-s: 50%;
  --chat-bubble-box-shadow-color-l: 40%;
  --chat-bubble-box-shadow-color-a: 0.2;
}

:root {
  --trans-black: hsla(0, 0%, 0%, 0.349);
  --pinky: hsl(305, 100%, 50%);
  --trans-green: hsla(113, 100%, 50%, 0.139);
  --trans-grey: hsla(0, 1%, 28%, 0.144);
  --mrwhite: hsl(0, 0%, 100%);
  --mrorange: hsl(30, 100%, 50%);
  --mryellow: hsl(60, 100%, 50%);
  --mred: hsl(0, 100%, 50%);
  --mrgreen: hsl(124, 100%, 50%);
  --mrgrey: hsl(0, 0%, 67%);

  --background-primary: hsl(0, 0%, 0%);
  --background-tertiary: var(--trans-black);
  --background-secondary: hsla(256, 99%, 38%, 0.901);

  --header-bar-background: hsla(185, 100%, 50%, 0.9);
  /* Header
    prim -> server, server pill, channel names and ALL WHITE in general
    sec -> replied msg */
  --header-primary: var(--mryellow);
  /* statuses */
  --header-secondary: var(--mrgrey);

  --channels-default: rgb(255, 255, 255);
  --channel-icon: 0;

  --background-mentioned: hsla(40, 100%, 50%, 0.171);
  /* --chat-background: hsla(261, 100%, 49%, 0.966); */
  /* ??? */
  /* --chat-border: gray; */
  /* --chat-input-container-background: rgba(255, 255, 0, 0.671); */

  /* bg bot not only */
  --bg-overlay-chat: hsla(273, 53%, 17%, 0.058);
  --bg-overlay-3: hsla(252, 100%, 26%, 0.784);
  /* --bg-overlay-4: hsla(257, 21%, 13%, 0.179) ; */

  /* --bg-overlay-selected:hsl(65, 89%, 48%); */
  /* --background-modifier-selected: hsl(60, 100%, 50%); */

  --channel-text-area-placeholder: hsl(0, 0%, 48%);

  /* input field bg */
  /* --channeltextarea-background: var(--mryellow); */

  --background-secondary-alt: hsl(185, 100%, 50%);

  /* Forum header */
  --home-background: var(--header-bar-background);

  /* changing this option often causes discord crashes */
  /* --background-accent: hsla(59, 94%, 50%, 0.774); */

  /* --background-floating: hsla(59, 94%, 50%, 0.774); */

  /* choosen chanel text, all active elements */
  /* --interactive-active: var(--pinky); */
  --interactive-normal: hsl(280, 100%, 50%);

  --interactive-hover: hsl(180, 100%, 50%);
  --interactive-muted: rgba(45, 3, 100, 0.579);
  --text-normal: hsla(255, 100%, 50%, 0.99);
  --text-muted: var(--mrgreen);

  --font-primary: Liga SFMono Nerd Font, SF Pro Rounded, Gill Sans, mononoki NF;
  --font-size-modifier: 1.2;
}
/* 
.textArea-2CLwUE {
  background-color: var(--interactive-muted);
} */

.modeConnected-NrO4cP .name-28HaxV,
.modeConnected-NrO4cP:hover .name-28HaxV,
.modeUnread-3Cxepe .name-28HaxV,
.modeUnread-3Cxepe:hover .name-28HaxV,
.notInteractive-2tFrlE.modeConnected-NrO4cP .name-28HaxV,
.notInteractive-2tFrlE.modeSelected-3DmyhH .name-28HaxV {
  color: var(--mred);
}

.modeSelected-3DmyhH .name-28HaxV,
.modeSelected-3DmyhH:hover .name-28HaxV {
  color: var(--mrgreen);
}

/* Username */
.username-h_Y3Us {
  font-size: calc(var(--font-size-modifier) * 1rem);
  font-weight: 400;
}

/* Chat text */
.markup-eYLPri {
  color: azure;
  font-size: calc(var(--font-size-modifier) * 0.8rem);
}
/* Embed description, Text in file */
.embedDescription-1DrJxZ, 
.embedFieldValue-3EHtvR,
.hljs {
  color: aliceblue;
}
 
/* members panel*/
.name-3Vmqxm {
  font-size: calc(var(--font-size-modifier) * 0.9rem);
  font-weight: 400;
}

/* Channels name */
.name-28HaxV {
  font-size: calc(var(--font-size-modifier) * 0.8rem);
  font-weight: 500;
}
/* category name */
.container-q97qHp {
  font-size: calc(var(--font-size-modifier) * 0.6rem);
  font-weight: 100;
}
/* members panel bg */
.container-2o3qEW {
  background: var(--background-primary);
}
.membersWrap-3NUR2t {
  height: 100%;
}
/* mem block */
.members-3WRCEx {
  background-color: transparent;
}
/* one mem */
.member-48YF_l {
  margin: 5px;
  /* height: 71px; */
  background-color: var(--trans-grey);
}
.scrollableContainer-15eg7h {
  border: 1px solid var(--pinky);
  background-color: hsla(268, 100%, 50%, 0);
}
/* .typingDots-1Y8dki, */
/* .dots-1k2MxY .themed-3dHGSa, */
.base-3bcbY3 {
  color: hsl(285, 100%, 50%);
}
/* 
#app-mount .guilds-2JjMmN,
.titleBar-1it3bQ,
.container-2o3qEW {
  background-color: var(--background-primary);
} */

.title-338goq {
  color: var(--channels-default);
  font-size: medium;
}

.closeButton-PCZcma {
  position: absolute;
  visibility: visible;
  display: flex;
  color: var(--pinky);
  top: 0;
}
.keybind-13vtq8,
.wordmarkWindows-2dq6rw,
.wordmark-2u86JB,
.attachWrapper-3slhXI,
.buttonContainer-2lnNiN:not(:last-of-type) {
  display: none;
  visibility: hidden;
}
/* :root { */
/* 

  --text-link: var(--blue-345); */
/* --text-link-low-saturation: var(--blue-330);
  --text-positive: var(--green-330);
  --text-warning: var(--yellow-300);
  --text-danger: var(--red-345);
  --text-brand: var(--brand-360);
  --mention-foreground: var(--brand-260);
  --mention-background: hsl(var(--brand-500-hsl)/0.3); */
/* --background-primary: var(--primary-600);
  --background-secondary: var(--primary-630);
  --background-secondary-alt: var(--primary-660);
  --background-tertiary: var(--primary-700);
  --background-accent: var(--primary-530);
  --background-floating: var(--primary-800); */
/* --background-nested-floating: yellow; */
/* --background-mobile-primary: var(--primary-600); */
/* --chat-background: var(--primary-600);

 */
/* --background-modifier-hover: hsl(var(--primary-500-hsl)/0.3);
  --background-modifier-active: hsl(var(--primary-500-hsl)/0.48);
  --background-modifier-selected: hsl(var(--primary-500-hsl)/0.6);
  --background-modifier-accent: hsl(var(--primary-500-hsl)/0.48);
  --info-positive-background: rgb(0, 255, 255);
  --info-positive-foreground: var(--green-360);
  --info-positive-text: rgb(4, 0, 255);
  --info-warning-background: hsl(var(--yellow-300-hsl)/0.1);
  --info-warning-foreground: var(--yellow-300);
  --info-warning-text: var(--white-500);
  --info-danger-background: hsl(var(--red-400-hsl)/0.1);
  --info-danger-foreground: var(--red-400);
  --info-danger-text: var(--white-500);
  --info-help-background: hsl(var(--blue-345-hsl)/0.1);
  --info-help-foreground: var(--blue-345);
  --info-help-text: var(--white-500);
  --status-positive-background: var(--green-430);
  --status-positive-text: var(--white-500);
  --status-warning-background: var(--yellow-300);
  --status-warning-text: var(--black-500);
  --status-danger-background: var(--red-400);
  --status-danger-text: var(--white-500);
  --status-danger: var(--red-400);
  --status-positive: var(--green-360);
  --status-warning: var(--yellow-300);
  --button-danger-background: var(--red-430);
  --button-danger-background-hover: var(--red-500);
  --button-danger-background-active: var(--red-530);
  --button-danger-background-disabled: var(--red-430);
  --button-positive-background: var(--green-430);
  --button-positive-background-hover: var(--green-500);
  --button-positive-background-active: var(--green-530);
  --button-positive-background-disabled: var(--green-430);
  --button-secondary-background: var(--primary-500);
  --button-secondary-background-hover: var(--primary-430);
  --button-secondary-background-active: var(--primary-400);
  --button-secondary-background-disabled: var(--primary-500);
  --button-outline-danger-text: var(--white-500);
  --button-outline-danger-border: var(--red-400);
  --button-outline-danger-background: hsl(var(--white-500-hsl)/0);
  --button-outline-danger-background-hover: var(--red-430);
  --button-outline-danger-text-hover: var(--white-500);
  --button-outline-danger-border-hover: var(--red-430);
  --button-outline-danger-background-active: var(--red-460);
  --button-outline-danger-text-active: var(--white-500);
  --button-outline-danger-border-active: var(--red-430);
  --button-outline-positive-text: var(--white-500);
  --button-outline-positive-border: var(--green-360);
  --button-outline-positive-background: hsl(var(--white-500-hsl)/0);
  --button-outline-positive-background-hover: var(--green-430);
  --button-outline-positive-text-hover: var(--white-500);
  --button-outline-positive-border-hover: var(--green-430);
  --button-outline-positive-background-active: var(--green-530);
  --button-outline-positive-text-active: var(--white-500);
  --button-outline-positive-border-active: var(--green-530);
  --button-outline-brand-text: var(--white-500);
  --button-outline-brand-border: var(--brand-500);
  --button-outline-brand-background: hsl(var(--white-500-hsl)/0);
  --button-outline-brand-background-hover: var(--brand-500);
  --button-outline-brand-text-hover: var(--white-500);
  --button-outline-brand-border-hover: var(--brand-500);
  --button-outline-brand-background-active: var(--brand-560);
  --button-outline-brand-text-active: var(--white-500);
  --button-outline-brand-border-active: var(--brand-560);
  --button-outline-primary-text: var(--white-500);
  --button-outline-primary-border: var(--primary-500);
  --button-outline-primary-background: hsl(var(--white-500-hsl)/0);
  --button-outline-primary-background-hover: var(--primary-500);
  --button-outline-primary-text-hover: var(--white-500);
  --button-outline-primary-border-hover: var(--primary-500);
  --button-outline-primary-background-active: var(--primary-430);
  --button-outline-primary-text-active: var(--white-500);
  --button-outline-primary-border-active: var(--primary-430);
  --modal-background: var(--primary-600);
  --modal-footer-background: var(--primary-630);
  --scrollbar-thin-thumb: var(--primary-730);
  --scrollbar-thin-track: hsl(var(--black-500-hsl)/0);
  --scrollbar-auto-thumb: var(--primary-730);
  --scrollbar-auto-track: var(--primary-630);
  --scrollbar-auto-scrollbar-color-thumb: var(--primary-730);
  --scrollbar-auto-scrollbar-color-track: var(--primary-630); */
/* settings options */
/* --input-background: green; */
/* --input-placeholder-text: yellow; */

/* --logo-primary: green;
  --focus-primary: yellow;
  --control-brand-foreground: green;
  --control-brand-foreground-new: yellow;
  --background-mentioned-hover: hsl(var(--yellow-300-hsl)/0.08);
  --background-message-hover: hsl(var(--primary-900-hsl)/0.06);
  --background-message-automod: hsl(var(--red-400-hsl)/0.05);
  --background-message-automod-hover: hsl(var(--red-400-hsl)/0.1);
  --background-message-highlight: hsl(var(--brand-360-hsl)/0.08);
  --background-message-highlight-hover: hsl(var(--brand-360-hsl)/0.06);
  --channel-icon: var(--primary-400); */

/* --activity-card-background: var(--primary-700);
  --spoiler-revealed-background: var(--primary-660);
  --spoiler-hidden-background: var(--primary-700);
  --android-navigation-bar-background: var(--primary-830);
  --android-ripple: hsl(var(--white-500-hsl)/0.07);
  --deprecated-card-bg: hsl(var(--primary-700-hsl)/0.6);
  --deprecated-card-editable-bg: hsl(var(--primary-700-hsl)/0.3);
  --deprecated-store-bg: var(--primary-600);
  --deprecated-quickswitcher-input-background: var(--primary-400);
  --deprecated-quickswitcher-input-placeholder: hsl(var(--white-500-hsl)/0.3);
  --deprecated-text-input-bg: var(--primary-700);
  --deprecated-text-input-border: hsl(var(--black-500-hsl)/0.3);
  --android-navigation-scrim-background: hsl(var(--primary-830-hsl)/0.5);
  --bug-reporter-modal-submitting-background: hsl(var(--primary-800-hsl)/0.6);
  --forum-post-extra-media-count-container-background: hsl(var(--primary-660-hsl)/0.8);
  --forum-post-tag-background: hsl(var(--primary-660-hsl)/0.9);
  --live-stage-tile-border: hsl(var(--primary-500-hsl)/0.6);
  --user-profile-header-overflow-background: hsl(var(--primary-700-hsl)/0.5);
  --display-banner-overflow-background: hsl(var(--primary-700-hsl)/0.5);
  --deprecated-text-input-border-hover: var(--primary-900);
  --info-box-background: hsl(var(--blue-345-hsl)/0.1);
  --deprecated-text-input-border-disabled: var(--primary-700);
  --deprecated-text-input-prefix: var(--primary-200); */
/* } */
