/**
 * @name !NeverHOOT
 * @version 0.2
 * @description inspired by various discord themes (see README.MD)
 * @author HOOTSMAN!
 * @website https://hootsdev.github.com
 * @source https://raw.githubusercontent.com/Hootsdev/hoot/master/hoot.theme.css
*/

/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700;800&display=swap");

/* USRBG */
@import url("https://discord-custom-covers.github.io/usrbg/dist/usrbg.css");


/* Discord.tv */
:root {
    /*Background*/
    --blurple: rgb(113, 136, 217);
    --blurple-sheer: rgba(114, 137, 218, 0.267);
    --sheer: rgba(0,0,0,0.6);
    --veil: rgba(100, 100, 100, 0.2);
  
    --black-hole: url(https://images.all-free-download.com/images/graphicthumb/starry_night_192398.jpg);
    --stars: url(https://www.freeiconspng.com/uploads/twinkle-star-png-stars-9.png);
    --color-brand: hsl(180, 40%, 42%);
    --color-brand-darker: hsl(187, 54%, 43%);
    --color-brand-lighter: hsl(180, 100%, 50%);
    --color-red: #e91916;
    --color-red-darker: #bb1411;
    --color-orange: #ffca61;
    --background-orange: rgba(255, 165, 0, 0.1);
    --color-green: #08e600;
    --color-green-darker: #00ad96;
    --color-gray: #72767d;
    --color-gray-darker: #4f545c;
    --shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 0 4px rgba(0, 0, 0, 0.4);
    --shadow-bottom: 0 1px 2px rgba(0, 0, 0, 0.9), 0 0 2px rgba(0, 0, 0, 0.9);
    --user-background: #2f2441;
  
  }
  
/* Discord */
.theme-dark,
:root {
  --info-danger-background: var(--color-red);
  --info-danger-foreground: var(--color-red);
  --status-positive-background: var(--color-green);
  --status-positive-text: #fff;
  --status-warning-background: var(--color-orange);
  --status-danger-background: var(--color-red);
  --status-danger-text: #fff;
  --focus-primary: var(--color-brand);
  --header-primary: #fff;
  --header-secondary: #b9bbbe;
  --text-normal: #dcddde;
  --text-muted: var(--color-gray);
  --text-link: var(--color-brand-lighter);
  --text-link-low-saturation: var(--color-brand-lighter);
  --text-positive: var(--color-green);
  --text-warning: var(--color-orange);
  --text-danger: var(--color-red);
  --text-brand: var(--color-brand);
  --interactive-normal: #b9bbbe;
  --interactive-hover: #dcddde;
  --interactive-active: #fff;
  --interactive-muted: var(--color-gray-darker);
  --background-primary: #0e0e10;
  --background-secondary: #1f1f23;
  --background-secondary-alt: #1f1f23;
  --background-tertiary: #18181b;
  --background-accent: var(--color-gray-darker);
  --background-floating: #18191c;
  --background-mobile-primary: #36393f;
  --background-mobile-secondary: #2f3136;
  --background-modifier-hover: rgba(79, 84, 92, 0.16);
  --background-modifier-active: rgba(79, 84, 92, 0.24);
  --background-modifier-selected: rgba(79, 84, 92, 0.32);
  --background-modifier-accent: hsla(0, 0%, 100%, 0.06);
  --info-positive-text: #fff;
  --info-warning-text: #fff;
  --info-danger-text: #fff;
  --info-help-background: rgba(0, 176, 244, 0.1);
  --info-help-foreground: #00b0f4;
  --info-help-text: #fff;
  --status-warning-text: #000;
  --scrollbar-thin-thumb: #202225;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #202225;
  --scrollbar-auto-track: hsl(
    210,
    calc(var(--saturation-factor, 1) * 9.8%),
    20%
  );
  --scrollbar-auto-scrollbar-color-thumb: #202225;
  --scrollbar-auto-scrollbar-color-track: #2f3136;
  --elevation-stroke: 0 0 0 1px rgba(4, 4, 5, 0.15);
  --elevation-low: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05),
    0 2px 0 rgba(4, 4, 5, 0.05);
  --elevation-medium: 0 4px 4px rgba(0, 0, 0, 0.16);
  --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
  --logo-primary: #fff;
  --control-brand-foreground: var(--color-brand);
  --control-brand-foreground-new: var(--color-brand);
  --background-mentioned: hsla(
    40,
    calc(var(--saturation-factor, 1) * 98%),
    39%,
    0.1
  );
  --background-mentioned-hover: hsla(
    180,
    calc(var(--saturation-factor, 1) * 5.7%),
    54.1%,
    0.08
  );
  --background-message-hover: rgba(4, 4, 5, 0.07);
  --channels-default: #8e9297;
  --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  --channeltextarea-background: #3e3e40;
  --activity-card-background: #202225;
  --textbox-markdown-syntax: #8e9297;
  --deprecated-card-bg: rgba(32, 34, 37, 0.6);
  --deprecated-card-editable-bg: rgba(32, 34, 37, 0.3);
  --deprecated-store-bg: #36393f;
  --deprecated-quickswitcher-input-background: var(--color-gray);
  --deprecated-quickswitcher-input-placeholder: hsla(0, 0%, 100%, 0.3);
  --deprecated-text-input-bg: rgba(0, 0, 0, 0.1);
  --deprecated-text-input-border: rgba(0, 0, 0, 0.3);
  --deprecated-text-input-border-hover: #040405;
  --deprecated-text-input-border-disabled: #202225;
  --deprecated-text-input-prefix: #dcddde;
  --font-primary: Roboto;
  --font-display: Roboto Mono;
}

::selection {
  background-color: var(--color-brand-lighter);
  color: #0a0a0a;
}

::-webkit-scrollbar {
  display: none;
}

body,
.appMount-2yBXZl {
  /* background-color: var(--background-tertiary); */
  background-color: transparent;
  background: linear-gradient(var(--sheer), var(--sheer)),
    var(--black-hole) center/30% fixed;
}

#app-mount .app-2CXKsg,
#app-mount .layers-OrUESM, 
.privateChannels-oVe7HL,
.container-1eFtFS,
#app-mount .layer-86YKbF,
.bg-1QIAus {
  background-color: transparent;
}


#app-mount,
.container-2RRFHK,
.perksModalContentWrapper-2HU6uL {
  background: linear-gradient(var(--sheer), var(--sheer)),
    var(--black-hole) center/30% fixed;
}

/* II. Title Bar */
.wordmark-2u86JB svg {
  display: none;
}

.titleBar-1it3bQ:not(.typeMacOS-3V4xXE)::after {
  content: "TRANSCENDENCE";
  position: absolute;
  top: 5px;
  left: 500px;
  color: rgb(255, 0, 234);
  display: block;
  height: 16px;
  width: fit-content;
  margin-top: 6px;
  pointer-events: none;
  font-family: FuraMono NFM;
  font-size: 16px;
  letter-spacing: 20px;
  font-weight: bolder;
}

.winButtonMinMax-3RsPUg:hover {
  background-color: var(--blurple);
}

.titleBar-1it3bQ {
  background-color: transparent;
}

/* ######## GLOBAL ################*/
/* TO DO remove server discorevery button*/
/* Discord: Guild list */

/* .scroller-3X7KbA .none-2-_0dP .scrollerBase-_bVAAt > .listItem-3SmSlK > .listItemWrapper-3d87LP > .wrapper-28eC3z {
  display: none;

} */
.scroller-3X7KbA {
	background-color: transparent !important;
	padding: 0 !important;
	contain: none;
	margin-top: 50px;
}

.listItem-3SmSlK {
  margin-bottom: 10px;
  padding: 7px 0;
  width: 50px;
}

.wrapper-38slSD {
  width: 50px;
}

.guilds-2JjMmN {
  margin-left: -1px;
}
.guilds-2JjMmN {
  width: 50px;
}

.expandedFolderBackground-1kSAf6 {
  top: 5px;
  left: 7px;
  bottom: 4px;
  width: 36px;
}

ul[id*="folder-items"] {
  height: auto !important;
}

/* ############# Friends & DM ########## */

/* DM customs */
.link-39sEB3 {
  justify-content: stretch;
  flex-direction: row;
}
.content-66wMin {
  order: -2;
}
.avatar-1HDIsL {
  order: 1;
  right: 0px;
  margin: 0 2.5% 0 0;
  position: absolute;
}
.closeButton-mupH76 {
  order: -1;
  justify-content: flex-start;
}

/* Discord: Home: Friends - Top pills */
.children-3xh0VB,
.topPill-3DJJNV {
	height: 100%;
}

.topPill-3DJJNV .themed-2-lozF.item-3XjbnG {
	border-radius: 0;
	border-bottom: 2px solid transparent;
	height: 100%;
	margin: 0;
}

.topPill-3DJJNV .themed-2-lozF.item-3XjbnG:hover {
	background-color: transparent;
	color: var(--color-brand);
}

.topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
	background-color: transparent !important;
	color: var(--color-brand);
	border-color: var(--color-brand);
}

.root-SR8cQa .tabBarContainer-1s1u-z {
	margin: 0 20px;
}

.root-SR8cQa .item-3XjbnG {
	font-size: 13px;
	font-weight: 400;
}

/* Discord: Home icon */
/* .tutorialContainer-1pL9QS {
  height: 50px;
  width: 50px;
  margin-top: -5px;
  position: fixed; 
  z-index: 2;
  display: flex;
  align-items: center;
  background-color: var(--background-tertiary);
  box-shadow: var(--shadow-bottom);
}

.tutorialContainer-1pL9QS.wrapper-z5ab_q {
  display: none;
}

.tutorialContainer-1pL9QS .wrapper-28eC3z,
.tutorialContainer-1pL9QS .wrapper-28eC3z png {
  width: 40px;
  height: 40px;
}
 */
.tutorialContainer-2sGCg9 .wrapper-3kah-n {
	width: 100%;
	height: 100%;
	background: url("https://i.imgur.com/hYJJsdI.png") center/contain no-repeat;
}


.tutorialContainer-1pL9QS .listItem-2P_4kh {
  padding: 0;
  width: 100%;
}

/* .tutorialContainer-1pL9QS .childWrapper-1j_1ub {
  display: none;
} */


/* III. Channel Area */

/* A. Channels Header */
#app-mount .channelNotice-tO6Tus {
  background-color: var(--blurple-sheer);
}

.container-3O_wAf,
.icon-1SdhiF {
  background: var(--black-hole) center/30% fixed;
}
#app-mount
  .channelNotices-41mJbj
  .channelNotice-tO6Tus
  .message-3KLVy1
  .btn-38SvSS {
  background-color: var(--blurple-sheer);
  border-color: transparent;
  transition: all 0.2s ease-in-out;
}

#app-mount
  .channelNotices-41mJbj
  .channelNotice-tO6Tus
  .message-3KLVy1
  .btn-38SvSS:hover {
  background-color: var(--blurple);
}

.container-PNkimc,
.animatedContainer-1pJv5C,
.sidebar-1tnWFu,
.scrollableContainer-38zsVD,
.channels-Ie2l6A {
  background-color: transparent;
  opacity: 1.5;
}

/* B. Channel Groups and Individual Channels */
.containerDefault-3GGEv_,
.containerDragAfter-3TEhpe,
.containerDragBefore-3Dzc5x,
.containerUserOver-1Tcb7l {
  padding-top: 20px;
}

.contentSelectedText-3wUhMi,
.contentSelectedVoice-1WDIBM,
.contentConnectedVoice-qL-YrL,
.wrapper-2NJDcI,
.containerDefault-YUSmu3.selected-2TbFuo .content-1gYQeQ,
.containerDefault-YUSmu3.selected-2TbFuo:hover .content-1gYQeQ {
  background: var(--veil) var(--stars) top left;
  background-attachment: fixed;
  color: var(--blurple);
}

.containerDefault-YUSmu3.selected-2TbFuo .content-1gYQeQ .name-28HaxV {
  color: var(--color-brand-lighter);
}

.contentConnectedVoice-qL-YrL:active,
.contentHoveredText-2D9B-x,
.contentHoveredVoice-3p_NEO:active,
.contentSelectedVoice-1WDIBM:active,
#app-mount .listeningAlong-2UPsxf,
#app-mount .wrapper-1ucjTd:hover .content-1gYQeQ {
  background-color: transparent;
}

.contentSelectedText-3wUhMi .icon-sxakjD,
.contentSelectedVoice-1WDIBM .icon-sxakjD {
  opacity: 0.6;
  filter: brightness(100%);
}

.colorHoveredText-OZnAgu,
.colorHoveredVoice-1kucsK,
#app-mount .wrapper-1ucjTd:not(.modeSelected-1zApJ_):hover .name-3_Dsmg,
#app-mount .wrapper-1ucjTd:not(.modeSelected-1zApJ_):hover svg {
  color: var(--blurple);
  opacity: 1;
}

.nameConnectedText-3CzNQn,
.nameConnectedVoice-MHUX5F,
.nameSelectedText-sp_EUw,
.nameSelectedVoice-1qSph5,
.colorConnectedText-1c_uzY,
.colorConnectedVoice-3kyvUN,
.colorSelectedText-1y4Wvs,
.colorSelectedVoice-Xcb_9R {
  color: currentColor;
}

.unread-2wipsx {
  background-color: var(--blurple-sheer);
  transition: background-color 0.2s ease-in-out;
}

.unread-2wipsx:hover {
  background-color: var(--blurple);
}

.mention-3XBnnZ {
  background-color: var(--dnd-sheer);
  transition: background-color 0.2s ease-in-out;
}

.mention-3XBnnZ:hover {
  background-color: var(--dnd);
}
/* V. Pages */
/* A. Main Areas */
.chat-2ZfjoI,
#app-mount .activityFeed-28jde9,
#app-mount .activityFeed-1C0EmJ,
#app-mount .gameLibrary-TTDw4Y,
#app-mount .container-3gCOGc,
#app-mount .applicationStore-2nk7Lo,
#app-mount .pageWrapper-2PwDoS,
#app-mount .root-1BQpZw,
#app-mount .container-2cd8Mz,
.threadSidebar-1o3BTy {
  background-color: transparent !important;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

.tabBody-2dgbAs {
  margin-bottom: 55px;
  overflow: visible;
  background: var(--quatro) var(--stars) top left fixed !important;
}

.tabBody-2dgbAs:before {
  top: unset;
  bottom: -55px;
  height: 55px;
  background: var(--veil) var(--stars) top left fixed !important;
}

#app-mount .messages-3amgkR,
.sidebarRegionScroller-FXiQOh,
.contentRegionScroller-2_GT_N,
.scroller-2XLwLg,
.scroller-5bBood,
.scroller-29cQFV,
.scroller-3_YDR2,
[class*="scroller-"],
.scrollableContainer-15eg7h,
.nowPlayingColumn-1eCBCN,
.container-1NXEtd,
.container-1oAagU,
.section-3G9aLW,
.stageSection-3mAD8V {
  background-color: transparent;
  
}

.bg-AYqtMd {
  -webkit-mask: linear-gradient(rgb(0, 0, 0) 50%, transparent);
  mask: linear-gradient(rgb(0, 0, 0) 50%, transparent);
}

#app-mount .searchBox-pyIJJj {
  background: var(--veil);
}

#app-mount .title-31SJ6t,
#app-mount .titleCall-_b9o8P,
#app-mount .headerBar-UHpsPw,
#app-mount .container-ZMc96U,
#app-mount .header-2EadGG,
#app-mount .chat-2ZfjoI .channelTextArea-1FufC0,
#app-mount .friendsTable-133bsv .friendsRow-2yicud:hover,
#app-mount .video-eAcneW {
  background: var(--veil) var(--stars) top left !important;
  background-attachment: fixed;
}

.wrapper-1gVUIN.minimum-fXpVNc,
.wrapper-1gVUIN,
#app-mount .outer-2JOHae.interactive-2zD88a:hover {
  background: var(--sheer) var(--stars) top left !important;
  background-attachment: fixed;
}

.chat-2ZfjoI .textArea-2CLwUE {
  background-color: transparent !important;
  line-height: 1.25rem !important;
  margin-top: 8px;
}

.friendsTable-133bsv .friendsTableBody-1ZhKif {
  background: transparent;
}

.channelTextAreaDisabled-rZtG8r {
  opacity: 1;
}

#app-mount .children-3xh0VB:after {
  display: none;
}

#app-mount .gameUpdates-3Ts_5W {
  background: linear-gradient(var(--blurple-sheer), transparent 80%),
    var(--veil) var(--stars) top left fixed;
}

/* #app-mount .content-1jQy2l,
#app-mount .chat-2ZfjoI form .inner-zqa7da,
#app-mount .chat-2ZfjoI form,
#app-mount .itemBackground-2vEldQ,
#app-mount .wrapper-29NfPK {
  background-color: transparent;
} */



/* #app-mount .content-1jQy2l,
#app-mount .activityFeed-28jde9m,
.gameLibrary-TTDw4Y .scrollerWrap-2lJEkd,
.friendsTable-133bsv,
.applicationStore-2nk7Lo .scrollerWrap-2lJEkd,
.activityFeed-1C0EmJ .scrollerWrap-2lJEkd,
.root-1BQpZw .scrollerWrap-2lJEkd,
#app-mount .noChannel-Z1DQK7,
.submenu-1apzyU,
.threadSidebar-1o3BTy .chat-1rZYgu {
  background: var(--quatro) var(--stars) top left !important;
  background-attachment: fixed;
  
} */
/* 
.chat-2ZfjoI .textArea-2Spzkt {
  background-color: transparent !important;
  line-height: 1.25rem !important;
  margin-top: 8px;
} */

.gatedContent-31-gID::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 55px;
  width: 101.5%;
  background: var(--veil) var(--stars) top left;
  background-attachment: fixed;
}

.applicationStore-2nk7Lo .gatedContent-31-gID::after {
  display: none;
}

/* C. Top Bar & Typing Status */
#app-mount .search-1FM8Qc .searchBar-zdmu7v,
#app-mount .darkTheme-3uETC4.container-1SX9VC,
#app-mount .container-2oNtJn {
  background: transparent;

}
/* B. Members List */
#app-mount .container-2o3qEW {
  background-color: transparent;
}

#app-mount .membersWrap-3NUR2t,
#app-mount .members-3WRCEx .content-2a4AW9 {
  height: 100% !important;
}

#app-mount .members-3WRCEx {
  background-color: transparent;
  margin-bottom: 55px;
}

.members-3WRCEx > div {
  background-color: transparent;
}

#app-mount .membersWrap-3NUR2t::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 55px;
  width: 100%;
  background: var(--veil) var(--stars) top left;
  background-attachment: fixed;
}

#app-mount .member-3W1lQa {
  border-right: 2px solid transparent;
}

#app-mount .member-3W1lQa:hover {
  background: transparent;
  border-right-color: var(--blurple);
}

#app-mount .member-3W1lQa.popout-open,
#app-mount .member-3W1lQa.popout-open:hover,
#app-mount .codeRedemptionRedirect-3SBiCp,
#app-mount .elevationHigh-28Pty4 {
  background: var(--veil) var(--stars) top left;
  background-attachment: fixed;
}

#app-mount
  .elevationHigh-28Pty4[style*="background-color: rgba(32, 34, 37, 0.9)"] {
  background: linear-gradient(to right, var(--blurple-sheer), transparent 80%),
    var(--veil) var(--stars) top left fixed !important;
}

#app-mount .status-2s6iDp,
#app-mount .status-2kJpnA,
#app-mount .status-1ibiUI {
  border-color: transparent;
  right: -4px;
}
/* ############################################################### */
/*Some snippets for looks: Credits BetterDiscord Developers*/
#sticker-picker-tab {
  display: none;
}
.stickerButton-1-nFh2 {
  display: none;
}
.setIdentityLink-hOFsMl {
  display: none;
}
#private-channels [href="/store"] {
  display: none;
}
.numberBadge-37OJ3S {
  background-color: #4373c5 !important;
}
/* .tutorialContainer-30WoTp + div {
  display: none;
} */
#status-picker {
  margin-bottom: 5px;
}

#status-picker > div {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
}

.statusItem-2hiCNB {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.statusItem-2hiCNB > svg {
  width: 16px;
  height: auto;
}

#status-picker .item-1OdjEX {
  margin: 0;
  width: 25%;
}

#status-picker .status-3TYC5W,
#status-picker .description-3Cwkxk,
#status-picker .separator-1So4YB:nth-child(2) {
  display: none;
}

#status-picker .separator-1So4YB,
#status-picker #status-picker-custom-status {
  display: block;
  width: 100%;
}

#status-picker-custom-status .status-3TYC5W {
  display: block;
  margin-left: 6px;
}

.button-12Fmur {
  padding: 0 2px;
}
.avatarWrapper-1B9FTW {
  margin-right: 8px;
  margin-left: 2px;
  height: 40px;
}
.search-1FM8Qc:not(.open-3y3yI_) .searchBar-zdmu7v {
  width: 27px;
  transition: 0.25s;
  background-color: transparent;
  opacity: 1;
}
.search-1FM8Qc:not(.open-3y3yI_):hover .searchBar-zdmu7v {
  width: 240px;
  background-color: var(--background-tertiary);
}
.search-1FM8Qc:not(.open-3y3yI_) .iconContainer-1RqWJj {
  transform: scale(1.3);
  transition: 0.25s;
}
.search-1FM8Qc:not(.open-3y3yI_):hover .iconContainer-1RqWJj {
  transform: scale(1);
}
.icon-18rqoe {
  color: var(--text-normal);
}
/*right click animation*/
.menu-1QACrS {
  animation: custom-menu-animation 250ms ease;
  transform-origin: top;
}

@keyframes custom-menu-animation {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.emojiItemDisabled-3VVnwp {
  filter: grayscale(0%);
}

.containerDefault-YUSmu3.selected-2TbFuo {
  border-left: 6px solid var(--color-brand-lighter);
}

/*remove gift nitro button*/
[class^="buttons-"]
  > button[class*="lookBlank-"][class*="grow-"]
  > div:not([class*="translateButton-"]) {
  display: none;
}
/*remove file button (idk why'd you want that)*/
.attachWrapper-3slhXI {
  display: none;
}
.numberBadge-37OJ3S {
  background-color: #4373c5 !important;
}

/* Discord: Modal */
.bd-modal-wrapper .bd-modal-inner {
  border: 0;
  box-shadow: var(--shadow-popout);
}

.bd-modal-wrapper .header {
  background-color: var(--background-tertiary);
  box-shadow: var(--shadow-bottom);
}

.bd-modal-wrapper .bd-modal-body {
  background-color: var(--background-tertiary);
}

.bd-modal-wrapper .tab-bar-container {
  background-color: transparent;
  box-shadow: none;
}

.bd-modal-wrapper .tab-bar-container .tab-bar-item {
  opacity: 1;
  border-width: 1px;
}

.bd-modal-wrapper .tab-bar-container .tab-bar-item.selected {
  color: var(--color-brand) !important;
  border-color: var(--color-brand);
}

/* .footer-31IekZ {
  background-color: var(--background-tertiary) !important;
  box-shadow: var(--shadow-bottom) !important;
} */

.bd-modal-wrapper .footer button {
  background-color: var(--color-brand);
}

.bd-modal-wrapper .footer button:active,
.bd-modal-wrapper .footer button:hover {
  background-color: var(--color-brand-darker);
}

/* Discord: Home: Search form */
.input-3r5zZY {
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  background-color: #3e3e40;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.input-3r5zZY:hover {
  border-color: #575758;
  background-color: #3e3e40;
}

.input-3r5zZY:focus-within {
  background-color: #000;
  border-color: var(--color-brand-lighter);
}

/* Discord: Chat: Form */
.input-2g-os5,
.scrollableContainer-15eg7h {
  background-color: #000000;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  border: 2px solid transparent;
  outline: none;
  /* border-color: ; */
}

.input-2g-os5:hover,
.scrollableContainer-15eg7h:hover {
  border-color: #4373c5;
  background-color: #000000;
}

.input-2g-os5:focus-within,
.scrollableContainer-15eg7h:focus-within {
  background-color: #000;
  border-color: var(--color-brand-lighter);
}

.noBorder-2p63tM {
  border: none !important;
}
.noBorder-CTIBpT {
  border: none !important;
}

/* .input-2g-os5,
.scrollableContainer-15eg7h {
  background-color: #3e3e40;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  border: 2px solid transparent;
  outline: none;
}

.input-2g-os5:hover,
.scrollableContainer-15eg7h:hover {
  border-color: #575758;
  background-color: #3e3e40;
}

.input-2g-os5:focus-within,
.scrollableContainer-15eg7h:focus-within {
  background-color: #000;
  border-color: var(--color-brand-lighter);
} */



/* Discord: Search: Form */
.searchBar-zdmu7v {
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  background-color: #3e3e40;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.searchBar-zdmu7v:hover {
  border-color: #575758;
  background-color: #3e3e40;
}

.searchBar-zdmu7v:focus-within {
  background-color: #000;
  border-color: var(--color-brand-lighter);
}

.searchBar-zdmu7v {
  height: 28px;
}

/* Discord: Button: Filled - Brand */
.lookFilled-1Gx00P.colorBrand-3pXr91,
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
  background-color: var(--color-brand);
}

.lookFilled-1Gx00P.colorBrand-3pXr91:hover,
.lookFilled-1Gx00P.colorBrand-3pXr91:active {
  background-color: var(--color-brand-darker);
}

/* Discord: Button: Outlined - Brand */
.lookOutlined-3sRXeN.colorBrand-3pXr91 {
  color: var(--color-brand);
  border-color: var(--color-brand);
}

.lookOutlined-3sRXeN.colorBrand-3pXr91:hover {
  color: var(--color-brand-darker);
  border-color: var(--color-brand-darker);
}

/* Discord: Button: Filled - Red */
.lookFilled-1Gx00P.colorRed-1TFJan {
  background-color: var(--color-red);
}

.lookFilled-1Gx00P.colorRed-1TFJan:hover,
.lookFilled-1Gx00P.colorRed-1TFJan:active {
  background-color: var(--color-red-darker);
}

/* Button: Outlined - Red */
.lookOutlined-3sRXeN.colorRed-1TFJan {
  color: var(--color-red);
  border-color: var(--color-red);
}

.lookOutlined-3sRXeN.colorRed-1TFJan:hover {
  color: var(--color-red-darker);
  border-color: var(--color-red-darker);
}

/* Discord: Button: Filled - Green */
.lookFilled-1Gx00P.colorGreen-29iAKY,
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx {
  background-color: var(--color-green);
}

.lookFilled-1Gx00P.colorGreen-29iAKY:hover,
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx:hover {
  background-color: var(--color-green-darker);
}

/* Discord: Button: Outlined - Green */
.lookOutlined-3sRXeN.colorGreen-29iAKY {
  color: var(--color-green);
  border-color: var(--color-green);
}

.lookOutlined-3sRXeN.colorGreen-29iAKY:hover {
  color: var(--color-green-darker);
  border-color: var(--color-green-darker);
}

/* Discord: Tooltip */
.tooltipBlack-vMYxvw {
  background-color: #fff !important;
  color: #000 !important;
  /* font-weight: 100; */
  box-shadow: var(--shadow);
  border-radius: 0.3rem;
}

.tooltipBlack-vMYxvw .tooltipPointer-3L49xb {
  border-top-color: #fff !important;
}

.tooltipContent-Nejnvh {
  padding: 4px 8px;
}

/* Discord: Friends list: Status */
.avatar-1BDn8e svg rect[fill="#ED4245"],
.avatar-6qzftW .wrapper-1VLyxH svg rect[fill="#ED4245"] {
  fill: var(--color-red);
}

.avatar-1BDn8e svg rect[fill="#3BA55D"],
.avatar-6qzftW .wrapper-1VLyxH svg rect[fill="#3BA55D"] {
  fill: var(--color-green);
}

.avatar-1BDn8e svg rect[fill="#FAA81A"],
.avatar-6qzftW .wrapper-1VLyxH svg rect[fill="#FAA81A"] {
  fill: var(--color-orange);
}

.avatar-1BDn8e svg rect[fill="#747f8d"],
.avatar-6qzftW .wrapper-1VLyxH svg rect[fill="#747f8d"] {
  fill: var(--color-gray);
}

/* Discord: Voice Chat: Ping - Green */
.rtcConnectionQualityFine-3zZrSa .pingForeground-1BRBTc,
.rtcConnectionStatusConnected-VRZDjy {
  color: var(--color-green);
}

/* Discord: Settings: Sidebar */
.side-2ur1Qk .header-2Kx1US:first-child {
  padding-top: 20px;
}

.platform-win .standardSidebarView-E9Pc3j {
  top: 30px;
}

.side-2ur1Qk .item-3XjbnG {
  padding: 10px 20px;
  border-radius: 0;
}

.side-2ur1Qk .header-2Kx1US {
  padding: 10px 20px;
}

.side-2ur1Qk .separator-2wx7h6 {
  margin: 10px 20px;
}

.socialLinks-2DELRE {
  padding: 10px 20px 0px 20px;
}

.info-1sUqUG {
  padding: 10px 20px 20px 20px;
}

/* Discord: Settings: Security */
.userSettingsSecurity-3C5Hg5 .lockIcon-2Hj8Tq {
  display: none;
}

.userSettingsSecurity-3C5Hg5 .isEnabled-2qCZy8 {
  color: var(--color-green);
}

/* Discord: Settings: Privacy & Safety: Radial */
.radioBar-3w9XY-[style*="hsl(139"] {
  border-color: var(--color-green);
}

.radioBar-3w9XY-[style*="hsl(37"] {
  border-color: var(--color-orange);
}

.radioBar-3w9XY-[style*="hsl(359"] {
  border-color: var(--color-red);
}

/* Discord: Settings: Authorized Apps */
.permissionCheckmark-1SeKr2 {
  display: none;
}

/* Discord: Settings: Discord Nitro */
.theme-dark .featureProfile-2h92hd .featureTitle-W5O6R1 {
  color: var(--color-green);
}

.theme-dark .featureEmoji-cnSD0D .featureTitle-W5O6R1 {
  color: var(--color-orange);
}

.featurePremiumGuild-2uV6-N .featureTitle-W5O6R1 {
  color: var(--color-brand);
}

.theme-dark .featureStickers-Pc_FBx .featureTitle-W5O6R1 {
  color: var(--color-orange);
}

.featureStickers-Pc_FBx .badgeNew-16P_X0 {
  background-color: var(--color-brand);
}

/* Discord: Settings: Billing */
.theme-dark .paymentPane-ut5qKZ {
  background-color: var(--background-secondary);
  color: var(--text-normal);
}

.theme-dark .payment-2bOh4k {
  background-color: var(--background-secondary);
  color: var(--text-normal);
}

.theme-dark .paginator-1eqD2g {
  background: var(--background-secondary);
}

.theme-dark .codeRedemptionRedi-1wVR4b {
  background-color: var(--background-secondary);
  color: var(--text-normal);
  border-color: transparent;
}

/* Discord: Settings: Keybinds */
.warning-RBGtx2 .icon-2fP4ae {
  color: var(--color-orange);
}

.warning-RBGtx2 {
  background: var(--background-orange);
  border: 1px solid var(--color-orange);
}

/* Discord: Other */
.premiumTabItem-1QTfBr[aria-selected="true"] {
  background-color: var(--color-brand) !important;
}

.wrapper-3Njo_c ul {
  height: 100% !important;
}

.winButtonClose-1HsbF-:hover {
  background-color: var(--color-red);
}

.gameVerifiedIcon-3t4jtr svg path[fill*="hsl(235"] {
  fill: var(--color-brand);
}

.betaTag-ECPmWf {
  background-color: var(--color-brand) !important;
}

.backgroundOptionSelected-33AYZn {
  border-color: var(--color-brand);
}

.overlayToggleIconOff-3hGOmN .fill-MYciTJ {
  fill: var(--color-red);
}

.overlayToggleIconOff-3hGOmN [fill*="#ED4245"] {
  fill: var(--color-red) !important;
}

.wrapper-SdcMKg {
  border-color: var(--color-brand);
}

.selected-18Wszc.option-1QI4c9 {
  background-color: var(--color-brand);
  border-color: var(--color-brand);
}

.option-1QI4c9:hover {
  background-color: var(--color-brand-darker);
  border-color: var(--color-brand-darker);
}

.cozy-VmLDNB .timestamp-p1Df1m.alt-1uNpEt {
  margin: 0;
  left: 0;
  width: 50px;
  text-align: left;
  height: auto;
  line-height: 1.5rem;
}

.cozy-VmLDNB .timestamp-p1Df1m.alt-1dvXnH {
  text-align: center;
}

.message-2CShn3:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  z-index: -1;
  display: none;
}

/* .message-2CShn3:hover:after {
  display: block;
} */

/* .message-2CShn3 {
  padding-left: 50px;
}

.cozy-VmLDNB.wrapper-30-Nkg {
  padding-left: 65px;
  min-height: 13px;
  padding-top: 1px;
}

.note-3HfJZ5 {
  margin-left: 0;
  margin-right: 0;
}

.groupStart-3Mlgv1 {
  min-height: 48px;
  padding-bottom: 10px;
}
.group-spacing-16 .groupStart-3Mlgv1 {
  margin-top: 2rem;
} */
.avatar-2e8lTP {
  width: 48px !important;
  height: 48px !important;
  left: 10px;
}

/* .fakeEdges-18N907:before,
.fakeEdges-18N907:after {
  border-radius: 0;
} */

/* .bubble-3XikHF {
  border-radius: 6px;
  padding: 0 6px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid hsla(0, 0%, 100%, 0.2);
  color: var(--text-normal);
}

.bubble-3XikHF:before {
  display: none;
} */

/* .cozy-VmLDNB .messageContent-2t3eCI {
  margin: 2px;
  padding-left: 60px;
} */
/* .avatar-2e8lTP {
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 25px;
  padding-bottom: 25px;
} */
/* 
.mediaBarWrapper-3D7r67 {
  height: 4px;
}

.mediaBarGrabber-FvJKJg,
.mediaBarProgress-1xaPtl,
.mediaBarProgress-1xaPtl:after,
.mediaBarProgress-1xaPtl:before {
  background-color: var(--color-brand);
}

.mediaBarInteractionDragging-3XLL8k .mediaBarGrabber-FvJKJg,
.mediaBarInteraction-tUE5dq:hover .mediaBarGrabber-FvJKJg {
  background-color: #fff;
}

.mediaBarGrabber-FvJKJg {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin-top: -8px;
  margin-right: -8px;
}

.textarea-2r0oV8 {
  font-size: px;
  line-height: normal;
  padding: 10px;
}

.button-2fCJ0o {
  border-radius: 4px;
}

.button-2fCJ0o:hover {
  background-color: rgb(255, 255, 255, 0.15);
} */

.jumpToPresentBar-G1R9s6 {
  margin: 24px 64px !important;
  border-radius: 4px !important;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.jumpToPresentBar-G1R9s6:hover,
.jumpToPresentBar-G1R9s6:active {
  background-color: hsla(0, 0%, 100%, 0.2);
  box-shadow: 0 0 6px 0 hsla(0, 0%, 100%, 0.3);
}

.username-h_Y3Us {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2.3px;
  padding-bottom: 5px;
  padding-right: 1px;
  color: #6f00ff;
}

.inviteDestinationExpired-2_1Ava {
  color: var(--color-red);
}

/* .textArea-12jD-V,
.content-vSHmMD {
  font-size: 9px;
} */

.markup-eYLPri {
  font-size: 15px !important;
  font-family: mononoki NFM;
  color: #fafafaea;
  /* color: #00ff00; */
  line-height: 1.1rem;
}

.operations-3q3u6E > a {
  color: var(--color-brand);
  background-color: transparent;
}

.typeWindows-1za-n7 {
  background-color: var(--background-primary);
}

.scrollableContainer-15eg7h {
  border: 2px solid transparent;
  border-radius: 0.4rem;
}

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub,
.wrapper-3kah-n:hover .childWrapper-1j_1ub {
  background-color: var(--color-brand);
}

.unreadPill-3nEWYM {
  background-color: var(--background-primary);
  color: #ff8280;
  padding: 0 0 0 10px;
  border-radius: 0;
  font-size: 11px;
  /* font-weight: normal; */
}

.unreadPillCap-2-iI4h {
  display: none;
}

.unreadPillCapStroke-1nE1Q8 {
  color: var(--color-red);
  fill: var(--color-red);
}

.isUnread-3Lojb- {
  border-color: #ff8280;
}

.theme-dark .wrapper-1ZcZW-,
.theme-dark .wrapper-1ZcZW-:hover {
  border-radius: 0;
  padding: 0;
  color: #fff;
  background: transparent;
}

.mention.iconMentionText-1_WCtN,
.mention.iconMentionText-1_WCtN:hover {
  padding-left: 1.2rem;
}

.lookFilled-1Gx00P.colorBrandNew-g5lmBU {
  background-color: var(--color-brand);
}

.lookFilled-1Gx00P.colorBrandNew-g5lmBU:hover,
.lookFilled-1Gx00P.colorBrandNew-g5lmBU:focus {
  background-color: var(--color-brand-darker);
}

.userSettingsSecurity-2WQWqX .isEnabled-1uQQER {
  color: var(--color-green);
}

.sidebarRegion-1VBisG {
  border-right: 1px solid #303032;
  flex: none;
}

.contentRegion-3HkfJJ {
  flex: 1 1 0;
}

.contentColumn-1C7as6,
.customColumn-2n-oKU {
  max-width: 100%;
}

.containerDefault-3GGEv_,
.containerDragAfter-3TEhpe,
.containerDragBefore-3Dzc5x,
.containerUserOver-1Tcb7l {
  margin: 0.5rem 6px;
}

.newMessagesBar-1hF-9G {
  position: absolute;
  margin-right: -10px;

  background-color: var(--color-brand);
  color: #000;
}

.wrapper-1ucjTd {
  height: 42px;
}

.content-3at_AU {
  height: 42px;
  margin-left: 0;
  border-radius: 0;
}

.mentioned-Tre-dv:before {
  background-color: cyan;
}

.attachButton-_ACFSu {
  padding: 10px 10px;
}

.scroller-2wx7Hm {
  border-right: 1px solid #303032;
  border-left: 1px solid #303032;
}

.searchBar-3TnChZ {
  background-color: var(--background-tertiary);
  box-shadow: var(--shadow-bottom);
}

.scroller-WSmht3 {
  border-right: 1px solid #303032;
  border-left: 1px solid #303032;
  margin-top: -8px;
}

.barBase-3xxDXu {
  border-radius: 0;
  left: 0;
  right: 0;
  min-height: 32px;
}

.body-3iLsc4,
.footer-1fjuF6 {
  background-color: var(--background-tertiary) !important;
  box-shadow: var(--shadow-bottom);
}

.footer-1fjuF6 {
  padding: 16px;
}

.rolePill-2IJ1vo {
  background-color: rgb(53, 42, 42) transparent;
  /* var(--profile-role-pill-background-color); */
}

.role-3paDXR,
.role-2irmRk {
  border-radius: 0.4rem;
}

.membersWrap-3NUR2t {
  border-left: 1px solid #303032;
}

.root-SR8cQa {
  background: var(--background-tertiary);
}

.theme-dark .container-2cd8Mz {
  background-color: var(--background-primary) !important;
}

.container-3ayLPN {
  background: var(--background-tertiary) !important;
  box-shadow: var(--shadow-bottom) !important;
}

.option-2KkUJO:after {
  background: transparent !important;
}

.option-2KkUJO.selected-rZcOL- {
  background: var(--background-primary) !important;
}

.option-2KkUJO.selected-rZcOL-:after {
  background: transparent !important;
}

.container-enaOkj,
.body-3ND3kc {
  background: var(--background-tertiary);
}

.container-ZMc96U.themed-Hp1KC_ {
  background: var(--background-tertiary);
  box-shadow: var(--shadow-bottom);
  padding-right: 238px;
  z-index: 0;
}

.container-1-ERn5 {
  background: var(--background-tertiary) !important;
}

.header-3OsQeK {
  background-color: var(--background-tertiary);
  box-shadow: var(--shadow-bottom);
}

.panels-3wFtMD {
  border: none;
  border-top: 1px solid #303032;
}

.barFill-2Bh7CX {
  background: var(--color-brand);
}

.colorDefault-2K3EoJ.focused-3afm-j {
  background-color: var(--color-brand);
}

.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
  background-color: var(--color-brand-darker);
}

.colorDanger-2qLCe1,
.colorDanger-2qLCe1 .checkbox-3s5GYZ,
.colorDanger-2qLCe1 .radioSelection-1HmrQS {
  color: var(--color-red);
}

.colorDanger-2qLCe1.focused-3afm-j {
  background-color: var(--color-red);
}

.colorDanger-2qLCe1:active:not(.hideInteraction-1iHO1O) {
  background-color: var(--color-red-darker) !important;
}

.unread-1xRYoj {
  opacity: 1;
}

.container-1qIct8 {
  padding: 0;
  height: auto;
}

.bar-2eAyLE {
  height: auto;
  border-radius: 0;
  padding: 8px;
}

.roleIcon-6hK8aK {
  top: 4px;
  height: 16px;
  width: 16px;
}

.unreadMentionsIndicatorTop-2bTgUU,
.unreadMentionsIndicatorBottom-3RJMnQ {
  padding: 0;
  height: auto;
  width: 50px;
}

.unreadMentionsIndicatorTop-2bTgUU {
  margin-top: 50px;
  z-index: 1;
}

/* .mention-3XBnnZ {
	background-color: var(--color-red);
	opacity: 1;
} */

.checkbox-1ix_J3[style*="235"] {
  border-color: var(--color-brand) !important;
  background-color: var(--color-brand) !important;
}

.numberBadge-2s8kKX[style*="240"] {
  background-color: var(--color-red) !important;
}

.circleIconButton-jET_ig {
  color: #8c45f4;
}

.circleIconButton-jET_ig.selected-ugP_am {
  background-color: #8c45f4;
}

.title-1yyp9V[style*="color: hsl(359"] {
  color: var(--color-green) !important;
}

.item-26Dhrx[style*="background-color: hsl(359"] {
  border-color: var(--color-green) !important;
  background-color: var(--color-green) !important;
}

.checkbox-1ix_J3[style*="border-color: hsl(359"] {
  border-color: var(--color-green) !important;
}

.checkbox-1ix_J3 path[fill*="#3BA55C"] {
  fill: var(--color-green) !important;
}

.title-1yyp9V[style*="color: hsl(37"] {
  color: var(--color-orange) !important;
}

.item-26Dhrx[style*="background-color: hsl(37"] {
  border-color: var(--color-orange) !important;
  background-color: var(--color-orange) !important;
}

.checkbox-1ix_J3[style*="border-color: hsl(37"] {
  border-color: var(--color-orange) !important;
}

.checkbox-1ix_J3 path[fill*="#FAA61A"] {
  fill: var(--color-orange) !important;
}

.title-1yyp9V[style*="color: hsl(359"] {
  color: var(--color-red) !important;
}

.item-26Dhrx[style*="background-color: hsl(359"] {
  border-color: var(--color-red) !important;
  background-color: var(--color-red) !important;
}

.checkbox-1ix_J3[style*="border-color: hsl(359"] {
  border-color: var(--color-red) !important;
}

.checkbox-1ix_J3 path[fill*="#ED4245"] {
  fill: var(--color-red) !important;
}

.item-3XjbnG[style*="color: hsl(235"] {
  color: var(--color-brand) !important;
}

.item-3XjbnG[style*="background-color: hsl(114"] {
  background-color: rgba(145, 71, 255, 0.1) !important;
}

.item-3XjbnG[style*="color: hsl(359"] {
  color: var(--color-red) !important;
}

.item-3XjbnG[style*="background-color: hsl(240"] {
  background-color: rgba(233, 25, 22, 0.1) !important;
}

.item-3XjbnG[style*="background-color: hsl(235"] {
  color: #fff !important;
  background-color: var(--color-brand) !important;
}

.cardPrimaryEditable-3KtE4g[style*="background-color: hsl(235"] {
  background-color: var(--color-brand) !important;
  border-color: var(--color-brand) !important;
}

.checkbox-1ix_J3[style*="border-color: hsl(235"] {
  border-color: var(--color-brand) !important;
}

.checkbox-1ix_J3 path[fill*="#7289da"] {
  fill: var(--color-brand) !important;
}

.children-3xh0VB:after {
  background: none !important;
}

.tabBar-ra-EuL .item-3mHhwr[style*="color: hsl(139"] {
  background-color: transparent !important;
  color: var(--color-green) !important;
  border-radius: 0;
  border-bottom: 2px solid var(--color-green);
  height: 100%;
  margin: 0;
}

.tabBar-ra-EuL .item-3mHhwr[style*="background-color: hsl(139"] {
  background-color: transparent !important;
  color: var(--color-green-darker) !important;
  border-radius: 0;
  border-bottom: 2px solid var(--color-green-darker);
  height: 100%;
  margin: 0;
}

.input-2g-os5:hover,
.scrollableContainer-15eg7h:hover {

  border-color: #575758;
  background-color: #3e3e40;
}
.scrollableContainer-15eg7h {
  border-color: var(--color-brand-lighter);
}

.input-2g-os5:focus-within,
.scrollableContainer-15eg7h:focus-within {
  background-color: #000;
  border-color: var(--color-brand-lighter);
}

.layer-86YKbF {
  top: -30px !important;
  padding-top: 30px !important;
}

.winButton-iRh8-Z {
  top: 0;
  width: 48px;
  height: 30px;
}

.withFrame-haYltI {
  height: 30px;
  margin-top: 0;
}

.wordmarkWindows-1v0lYD svg {
  display: none;
}

.hover-2ji_A7 {
  background-color: #444;
}

.svg-2zuE5p,
.wrapper-28eC3z,
.svg-2zuE5p,
.wrapper-28eC3z svg {
  width: 36px;
  height: 36px;
}

.defaultColor-2cKwKo {
  color: var(--color-brand);
}

.bf-toolbar::before {
  background-color: #18181b !important;
  box-shadow: var(--shadow);
}

.peopleColumn-29fq28 {
  background-color: var(--background-primary);
}

.nowPlayingColumn-2sl4cE {
  border-left: 1px solid #303032;
}

.bg-1QIAus {
  top: -30px;
}
/* CHAT AND MESSAGES */

.repliedMessage-3Z6XBG .repliedTextPreview-1bvxun .repliedTextContent-2hOYMB,
.threadMessageAccessory-2W9mjC
  .threadMessageAccessoryPreview-13YRmc
  .threadMessageAccessoryContent-1HTTUq {
  font-size: small !important;
}

.list-2bwCXU {
  padding: 0;
}

.draggable-1KoBzC,
.userSmall-2t9H7n {
  height: 40px;
}



.searchBar-3TnChZ {
  padding: 0;
  box-shadow: var(--shadow-bottom);
}

.searchBar-3TnChZ .searchBarComponent-3N7dCG {
  height: auto;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  color: var(--text-normal);
  font-size: 14px;
  line-height: normal;
}

.wrapper-2vIMkT {
  background-color: var(--background-tertiary);
}

.container-ZMc96U,
.header-3OsQeK,
.searchBar-3TnChZ {
  height: 50px;
}

.wrapper-1Rf91z {
  width: 50px;
}

.header-145e10.header-ykumBX {
  padding: 0;
}

.header-145e10.header-ykumBX .button-1_oXub {
  margin: 12px 16px;
}

.colorDefault-2K3EoJ .checkbox-3s5GYZ,
.colorDefault-2K3EoJ .radioSelection-1HmrQS,
.colorDefault-2K3EoJ.focused-3afm-j .check-1JyqgN {
  color: var(--color-brand);
}

.block-3Xiiq7[style*="padding-top: 10"] {
  padding-top: 0 !important;
}

.header-ykumBX,
.messagesPopout-24nkyi {
  box-shadow: var(--shadow-bottom);
  padding: 8px 8px 0 8px !important;
}

.messagesPopoutWrap-1MQ1bW {
  background-color: var(--background-tertiary);
}

.root-1gCeng {
  background-color: var(--background-tertiary) !important;
  box-shadow: var(--shadow) !important;
}

.block-3Xiiq7 .pro-3GwLMX[style*="color: hsl(359"] {
  color: var(--color-green) !important;
}

.tipTitle-3FYEQp {
  color: var(--color-brand);
}

/* .colorBrand-ROmMP1 {
  color: var(--color-brand);
} */

.iconBadge-3qSJIw.participating-1NvRVd {
  background-color: var(--color-green);
}

.member-2gU6Ar {
  margin-left: 5px;
}

.channel-1Shao0 {
  position: relative;
  margin-left: 10px;
}

.container-1oeRFJ {
  padding: 0;
  border-radius: 0;
}

.layout-1qmrhw {
  border-radius: 0;
  height: 40px;
}

.inviteRow-2L02ae {
  margin-right: 0;
}

.webkit-QgSAqd .buttons-uaqb-5 {
  margin-right: 4px;
}
.scroller-2hZ97C {
  padding-left: 0;
}

.list-2x9Cl9 {
  padding-left: 0;
  padding-bottom: 0;
}

.content-1Tgc42 {
  margin: 0;
  border-radius: 0;
  padding: 4px 0;
}

.draggable-S2aEx4 {
  height: auto;
}

.userSmall-1Raexx {
  height: auto;
}

.scroller-1ox3I2 {
  padding-right: 0 !important;
  opacity: 1000;
}

.content-1gYQeQ {
  margin-left: 0;
  border-radius: 0;
}

.topSectionPlaying-1J5E4n {
  background-color: var(--color-brand);
}

.strikethrough-2Kl6HF {
  color: var(--color-red);
}

.status-2DiCMd[style*="background-color: hsl("] {
  background-color: var(--color-green);
}

.textBadge-1iylP6[style*="359"] {
  background-color: var(--color-red) !important;
}

.wrapper-1gVUIN.minimum-fXpVNc {
  z-index: 0;
}

.headerWrapper-1ULEPv {
  padding-right: 230px;
}

.theme-dark .quickSelectPopout-2F0PXw {
  background: var(--background-secondary);
}

.colorable-3rVGna.red-3T8maV {
  background: var(--color-red);
}

.colorable-3rVGna.red-3T8maV:hover,
.colorable-3rVGna.red-3T8maV:focus,
.colorable-3rVGna.red-3T8maV:active {
  background: var(--color-red-darker);
}

.status-1WEaea {
  background-color: var(--color-red);
}

.slash-2yrR11 {
  color: var(--color-red);
}

.notice-2HEN-u {
	width: calc(100% - 50px);
	margin-top: 50px;
	position: fixed;
	padding-left: 0;
	padding-right: 0;
	border-radius: 0;
}

.root-24JyNP {
	margin-top: 50px;
	height: calc(100% - 50px);
}

.root-22AK9z.idle-39sGPO .topControls-KKImPZ {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.headerWrapper-1ULEPv {
  padding-right: 230px;
  background-color: var(--background-tertiary);
}

.wrapper-1gVUIN {
  z-index: 0;
  background-color: var(--background-primary);
}

.live-1V2D-f[style*="background-color: hsl("] {
  background-color: var(--color-red);
}

.liveShapeRound-2Tgi2d {
  border-radius: 4px;
}

.bodyInnerWrapper-Z8WDxe {
  padding-right: 15px;
}

.body-3iLsc4 {
  padding: 16px 8px 16px 16px !important;
}

.scroller-3BxosC {
  padding: 6px 8px !important;
}

.lookInverted-2D7oAl.colorBrand-3pXr91 {
  color: var(--color-brand);
}

.content-1LAB8Z {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.scroller-145h9c {
  padding: 0 16px !important;
}

.container-iA3Qrz {
  padding-right: 16px;
}

.colorStatusGreen-2HKYOW {
  color: var(--color-green);
}

.botTagRegular-2HEhHi {
  background: var(--color-brand);
}

.channelHeader-DFRX8q {
  padding-right: 16px;
  padding-left: 32px;
  background-color: var(--background-primary);
}

.collapseButton-39-IRc {
  left: 6px;
}

.messageContainer-3VTXBC {
  padding: 16px 10px 16px 0;
  border-radius: 0;
}

.selectorButtonSelected-t5V9On {
  background-color: var(--color-brand);
}

.radioIconForeground-2BMavi {
  color: var(--color-brand);
}

.scroller-2qwVWY {
  margin-right: 0;
}

.friendWrapper-2x5j0A {
  margin: 0 12px;
}

/* Discord: Add server / Explore */
.circleIconButton-1VxDrg {
  color: var(--color-green);
}

.circleIconButton-1VxDrg.selected-2tb4pB {
  background-color: var(--color-green);
}

/* Discord: Checkbox */
.container-2nx-BQ[style*="background-color: hsl(139"] {
  background-color: var(--color-brand) !important;
}

.slider-32CRPX path[fill*="hsl(139"] {
  fill: var(--color-brand) !important;
}

/* Discord: My Account: Status */
.avatar-3mTjvZ svg rect[fill="#3BA55D"] {
  fill: var(--color-green);
}

.avatar-3mTjvZ svg rect[fill="#FAA81A"] {
  fill: var(--color-orange);
}

.avatar-3mTjvZ svg rect[fill="#ED4245"] {
  fill: var(--color-red);
}

.reaction-3vwAF2.reactionMe-1PwQAc {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 0.1rem 0.001rem;
}

/* .reactionInner-YJjOtT {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .125rem .375rem;
} */


/* Discord: Speaking ring */
/* Discord: Speaking ring: Servers */
.avatarSpeaking-2pCGrZ {
  box-shadow: inset 0 0 0 2px var(--color-green),
    inset 0 0 0 3px var(--background-secondary);
}

/* Discord: Speaking ring: DMs */
.border-Jn5IOt.speaking-B2MXPi {
  box-shadow: inset 0 0 0 2px var(--color-green),
    inset 0 0 0 3px var(--background-floating);
}

/* Discord: Speaking ring: Grid call */
.border-3dQmSY.speaking-WDn8Wm {
  box-shadow: inset 0 0 0 2px var(--color-green), inset 0 0 0 3px #000;
}

/* Discord: Speaking ring: User menu (bottom left) */
.avatarSpeaking-33RRJU {
  box-shadow: inset 0 0 0 2px var(--color-green),
    inset 0 0 0 3px var(--background-secondary);
}

/* Discord: Speaking ring: Voice users */
.speaking-3K28iH {
  box-shadow: inset 0 0 0 2px var(--color-green),
    inset 0 0 0 3px var(--background-secondary);
}



/*Rainbow Wave USER#ID*/
.subtext-2HDqJ7,
.customStatus-1UAQAK,
.hovered-20u3oh,
.title-338goq {
  background-image: linear-gradient(
    to left,
    rgb(51, 255, 0),
    rgb(255, 230, 0),
    red,
    rgb(234, 0, 255),
    rgb(0, 140, 255),
    rgb(51, 255, 0)
  );
  animation: gradient-border 5s linear infinite;
  background-size: 400% 100%;
  color: transparent !important;
  -webkit-background-clip: text;
  position: relative;
  z-index: 1;
}
@keyframes gradient-border {
  0%,
  200% {
    background-position: 0 0;
  }

  99.999999999999999% {
    background-position: 130% 0;
  }
}

html .mention.wrapper-1ZcZW-.mention.interactive {
  background-image: linear-gradient(
    to left,
    rgb(51, 255, 0),
    rgb(255, 230, 0),
    red,
    rgb(234, 0, 255),
    rgb(0, 140, 255),
    rgb(51, 255, 0)
  );
  animation: gradient-border 3s linear infinite;
  background-size: 400% 100%;
  color: transparent !important;
  -webkit-background-clip: text;
  position: relative;
  z-index: 1;
}
@keyframes gradient-border {
  0%,
  200% {
    background-position: 0 0;
  }

  99.999999999999999% {
    background-position: 130% 0;
  }
}

/*remove stage discovery*/
.channel-1Shao0[href="/discovery"] {
  display: none;
}
/*avatar only memberlist until hover*/
.chatContent-3KubbW {
  /*Chat pannel and message box*/
  margin-right: 0px;
}

.membersWrap-3NUR2t {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  transform: translateX(80%);
  justify-content: unset;
  transition: transform 0.25s ease-out;
}
/*Moves server members for aesthetic purposes*/
.member-2gU6Ar {
  margin-left: 2px;
  margin-bottom: 3px;
}

/*Shows server's members*/
.membersWrap-3NUR2t:hover {
  transform: translateY(0%);
}

/* move user info to top conrner*/
.panels-3wFtMD > .container-YkUktl {
  right: 0;
  top: 0;
  position: absolute;
  z-index: 101;
  width: 230px;
}

.sidebar-nqHbhN {
  width: 230px;
  padding: 0;
  background-color: transparent;
}

.chat-2ZfjoI {
  position: relative;
}

.sidebar-1tnWFu {
  border-radius: 0 !important;
  min-width: 0px;
  max-width: 2rem;
  background-color: transparent;
  z-index: 1;
}

.container-1NXEtd,
.privateChannels-oVe7HL {
  position: absolute;
  align-self: flex-start;
  top: 0;
  left: -230px;
  height: 100%;
  width: 230px;
  justify-content: center;
  transform: translate(20%);
  /* very slow start out */
  transition: transform 2s cubic-bezier(0.3, 0.03, 0.93, -0.33);
  opacity: 0.1;
}

.container-1NXEtd:hover,
.privateChannels-oVe7HL:hover {
  margin: 0;
  transform: translate(95%);
  transition: transform 1s cubic-bezier(0, 0.62, 0.87, 1.39);
  opacity: 1.0;
}

.privateChannelRecipientsInviteButtonIcon-1ObKXK {
  padding-inline-end: 5px;
}



/* BetterDiscord: Settings: Buttons and switches */
.bd-addon-views .bd-view-button.selected,
.bd-button {
  background-color: var(--color-brand);
}

.bd-button:hover,
.bd-button:active,
.bd-button:focus {
  background-color: var(--color-brand-darker);
}

.bd-button.bd-button-danger {
  background-color: var(--color-red);
}

.bd-button.bd-button-danger:hover,
.bd-button.bd-button-danger:active,
.bd-button.bd-button-danger:focus {
  background-color: var(--color-red-darker);
}

.bd-switch input:checked + .bd-switch-body {
  --switch-color: var(--color-green);
}

.bd-sidebar-header {
  margin-top: -10px;
}

.bd-sidebar-header .bd-icon {
  margin-left: -36px;
  margin-bottom: -22px;
}

/* BetterDiscord: Public Server List: Button */
#bd-pub-li {
  height: 20px;
  margin-bottom: 6px;
  margin-top: 58px;
  padding: 0;
}

/* BetterDiscord: Settings: Tab Item */
#bd-settings-sidebar .ui-tab-bar-item {
  padding: 10px;
}

#bd-settings-sidebar .ui-tab-bar-item.selected {
  background-color: var(--background-modifier-selected);
}

/* BetterDiscord: Settings: Theme & plugin repos - Search form */
.inner-2pOSmK {
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  background-color: #3e3e40;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.inner-2pOSmK:hover {
  border-color: #575758;
  background-color: #3e3e40;
}

.inner-2pOSmK:focus-within {
  background-color: #000;
  border-color: var(--color-brand-lighter);
}

/* BetterDiscord: Settings: Theme & plugin repos - Tab */
.tabBarContainer-1s1u-z {
  padding: 0 !important;
  margin: 0 40px;
}

.top-K_jibn .item-3XjbnG {
  border-bottom: 1px solid transparent;
}

.tabBar-2MuP6- {
  height: 30px;
}

.top-K_jibn .selected-g-kMVV.themed-2-lozF.item-3XjbnG,
.top-K_jibn .themed-2-lozF.item-3XjbnG:active {
  border-bottom-color: var(--color-brand);
  color: var(--color-brand);
}

.tabBarItem-1b8RUP {
  margin-right: 20px;
}

/* USRBG */
.banner-1YaD3N {
  background: var(--user-background) center/cover no-repeat;
}

/* Plugins: MemberCount */
#MemberCount {
  border-bottom: 1px solid #303032;
  margin-top: 0 !important;
}

#MemberCount .membersGroup-2eiWxl {
  padding: 12px 10px;
  height: auto;
}

.membersGroup-2eiWxl {
  padding: 12px 40px 10px 14px;
  height: auto;
}

/* Plugins: Channel Tabs */
:root {
  --channelTabs-tabWidth: 190px;
  --channelTabs-tabHeight: 20px;
  --channelTabs-favHeight: 14px;
}

.channelTabs-tab,
.channelTabs-fav {
  margin: 0 !important;
  border-radius: 0 !important;
}

.channelTabs-tab.channelTabs-selected {
  border-bottom: 2px solid var(--color-brand-lighter);
}

.channelTabs-fav.channelTabs-selected {
  border-bottom: 2px solid var(--color-brand);
}

.channelTabs-unreadBadge {
  background-color: var(--color-brand);
}

/* Plugins: SendAudio */
:root {
  --sendaudio-record: var(--interactive-normal);
  --sendaudio-record-hover: var(--interactive-active);
  --sendaudio-cancel: var(--interactive-normal);
  --sendaudio-cancel-hover: var(--interactive-active);
  --sendaudio-pause: var(--interactive-normal);
  --sendaudio-pause-hover: var(--interactive-active);
  --sendaudio-play: var(--interactive-normal);
  --sendaudio-play-hover: var(--interactive-active);
  --sendaudio-save: var(--interactive-normal);
  --sendaudio-save-hover: var(--interactive-active);
  --sendaudio-send: var(--interactive-normal);
  --sendaudio-send-hover: var(--interactive-active);
}

/* Plugins: Read all */
.button-Jt-tIg {
  border-radius: 0;
  margin-top: -5px;
}

/* Plugins: Htospot Options */
.checkmark-2rIv0n {
  color: var(--color-green);
}

.xmark-1vh9lX {
  color: var(--color-red);
}

/* Snippets: Fix the file icon shrinking with long file namesCredits: Hekky#6869 */
.audioMetadata-1Hrt8T::before {
  min-width: 24px;
}

/* Snippets: Moves the role icon from the right of a person's name to the leftCredits: Little Furret#7901 */
[class*="roleIcon"] {
  /* float: center; */
  margin-left: 0.4rem;
  margin-right: 0.6rem;
}
/* [class*="avatar-b5OQ1N"] {
  float: right;
  margin-left: 0.4rem;
  margin-right: 0.6rem;
} */

/* role icon img */
/* img {
    height: 18px;
    aspect-ratio: auto 16 / 16;
    width: 18px;
} */

/* Snippets: Remove CreArts Modal BlurCredits: christian#1111 */
.backdrop-2ByYRN::before,
.backdropWithLayer-3_uhz4::before {
  backdrop-filter: none;
}

/* Snippets: Fix the channel icon being oversized in embeds and channel topicsCredits: Hekky#6869 */
.topic-11NuQZ > .wrapper-1ZcZW- > .channelIcon-3I2O7O,
.embedFooterText-2Mc7H9 > .wrapper-1ZcZW- > .channelIcon-3I2O7O {
  width: calc(1.05rem * 1.05 / 1.3);
  height: 1.05rem;
}

/* Snippets: Emote FixCredits: Qwerasd#5202 */
img.emote {
  text-indent: 0;
  white-space: nowrap;
  width: auto;
  position: relative;
  top: 0.25ex;
}

/* Snippets: Hide the cursor when the video controls are hiddenCredits: DoggyBootsy#3442 */
.wrapperControlsHidden-35Gtol {
  cursor: none;
}

/* Snippets: Disable discord's overcomplicated and extremely laggy settings animationsCredits: Tropical#4355 */
.layer-86YKbF {
  transform: none !important;
  opacity: 1 !important;
}

.layers-OrUESM > .layer-86YKbF.animating-1rIrGV *,
.layers-OrUESM > .layer-86YKbF.animating-1rIrGV {
  pointer-events: auto !important;
  will-change: unset;
}

.animating-1rIrGV.stop-animations {
  z-index: 100 !important;
}
