/**
  * @name !Transcendance
  * @author Hootsman#0149
  * @version 0.6
  * @description inspired by various discord themes (see README.MD)
  * @authorId 666
  * @authorLink https://hootsdev.github.com
  * @source https://raw.githubusercontent.com/Hootsdev/hoot/master/hoot.theme.css
  * @website https://hootsdev.github.com
  * @invite gg
*/

@import url("https://hootsdev.github.io/Transcendence/css/base.css");

/* TRANSCENDENCE */
:root {
  --black-hole: url(https://images.all-free-download.com/images/graphicthumb/starry_night_192398.jpg);
  --stars: url(https://www.freeiconspng.com/uploads/twinkle-star-png-stars-9.png);

  --pink: #da00da;
  --pink-bright: #ff00ff;
  --color-trans-pink: rgba(255, 0, 255, 0.582);
  --color-brand: #00ffff;
  --color-brand-darker: #02495fd0;
  --color-brand-lighter: #88ffff;
  --color-red: #ff0000;
  --color-red-darker: #bb1411;
  --color-purple: #6f00ff;
  --color-orange: #ffaa00;
  --background-orange: rgba(255, 165, 0, 0.1);
  --color-green: #00ff00;
  --color-green-darker: #00aa00;
  --color-gray: #72767d;
  --color-gray-darker: #4f545c;
  --shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 0 4px rgba(0, 0, 0, 0.4);
  --shadow-bottom: 0 1px 2px rgba(0, 0, 0, 0.9), 0 0 2px rgba(0, 0, 0, 0.9);
  --trans-cyan: rgba(0, 238, 255, 0.025);
  --trans-black: rgba(0, 0, 0, 0.026);
  --trans-blacker: rgba(0, 0, 0, 0.672);

  --test-color: #fff000;
  --sheer: rgba(0, 0, 0, 0.336);

  --text-normal: #dcdcdc;
  --interactive-normal: #b9bbbe;
  --interactive-active: #fff;
  --background-primary: #0e0e10;
  --background-secondary: #18181c;
  --background-tertiary: hsl(240, 6%, 10%);
  --background-floating: #18191c;
  --background-modifier-selected: rgba(79, 84, 92, 0.32);
  --status-warning-background: var(--color-orange);

  --angle: 0deg;
  --colorful: linear-gradient(
    to left,
    rgb(51, 255, 0),
    rgb(255, 230, 0),
    red,
    rgb(234, 0, 255),
    rgb(0, 140, 255),
    rgb(51, 255, 0)
  );

  /*  FONT SETTINGS

    Channel names, usernames on rightside panel,
    input message help text, message timestamp,
    userbage, hovered, context menu
*/
  --font-primary: Hack NFM;
  /*
    main title
    current channelname (top), server categories, right userpanel groups
    */
  --font-display: CaskaydiaCove NF Mono, mononoki NF, "DaddyTimeMono NFM",
    "Ink Free", "FuraMono NFM";
  /*
    chat messages
  */
  --font-chat: CaskaydiaCove NF Mono, "Hack NFM", "Noto Sans Mono",
    "UbuntuMono NFM";
  /*Chat message username*/
  --font-username: CaskaydiaCove NF Mono, UbuntuMono NFM, DaddyTimeMono NFM,
    "CaskaydiaCove NF Mono";
  --fonts-all: "LiterationSans NF", "DejaVuSansMono NF", "3270Medium NFM",
    "3270SemiNarrow NFM", "Cascadia Code", "CaskaydiaCove NF Mono",
    "UbuntuMono NFM", "RobotoMono NFM", "Noto Sans Mono", "mononoki NF",
    "LiterationMono Nerd Font", "Hack Nerd Font Mono", "Hack NFM",
    "GoMono Nerd Font", "FuraMono NF", "DroidSansMono NFM", "DaddyTimeMono NFM",
    "DaddyTimeMono Nerd Font", "Cousine NF", "Cousine Nerd Font Mono",
    "CodeNewRoman NFM", "mononoki Nerd Font";
}