/* 
.textArea-2CLwUE {
  background-color: var(--interactive-muted);
} */

.modeConnected-NrO4cP .name-28HaxV,
.modeConnected-NrO4cP:hover .name-28HaxV,
.modeUnread-3Cxepe .name-28HaxV,
.modeUnread-3Cxepe:hover .name-28HaxV,
.notInteractive-2tFrlE.modeConnected-NrO4cP .name-28HaxV,
.notInteractive-2tFrlE.modeSelected-3DmyhH .name-28HaxV {
  color: var(--mred);
}

.modeSelected-3DmyhH .name-28HaxV,
.modeSelected-3DmyhH:hover .name-28HaxV {
  color: var(--mrgreen);
}

/* Username */
.username-h_Y3Us {
  font-size: calc(var(--font-size-modifier) * 1rem);
  font-weight: 400;
}

/* Chat text */
.markup-eYLPri {
  color: azure;
  font-size: calc(var(--font-size-modifier) * 0.8rem);
}
/* Embed description, Text in file */
.embedDescription-1DrJxZ,
.embedFieldValue-3EHtvR,
.hljs {
  color: aliceblue;
}

/* members panel*/
.name-3Vmqxm {
  font-size: calc(var(--font-size-modifier) * 0.9rem);
  font-weight: 400;
}

/* Channels name */
.name-28HaxV {
  font-size: calc(var(--font-size-modifier) * 0.8rem);
  font-weight: 500;
}
/* category name */
.container-q97qHp {
  font-size: calc(var(--font-size-modifier) * 0.6rem);
  font-weight: 100;
}
/* members panel bg */
.container-2o3qEW {
  background: var(--background-primary);
}
.membersWrap-3NUR2t {
  height: 100%;
}
/* mem block */
.members-3WRCEx {
  background-color: transparent;
}
/* one mem */
.member-48YF_l {
  margin: 5px;
  /* height: 71px; */
  background-color: var(--trans-grey);
}
.scrollableContainer-15eg7h {
  border: 1px solid var(--pinky);
  background-color: hsla(268, 100%, 50%, 0);
}

.base-3bcbY3 {
  color: hsl(285, 100%, 50%);
}

.title-338goq {
  color: var(--channels-default);
  font-size: medium;
}

.closeButton-PCZcma {
  position: absolute;
  visibility: visible;
  display: flex;
  color: var(--pinky);
  top: 0;
}
.keybind-13vtq8,
.wordmarkWindows-2dq6rw,
.wordmark-2u86JB,
.attachWrapper-3slhXI,
.buttonContainer-2lnNiN:not(:last-of-type) {
  display: none;
  visibility: hidden;
}

.emoji.jumboable {
  width: 5rem;
  height: 5rem;
  min-height: 3rem;
  /* vertical-align: top; */
}




.panels-3wFtMD > .container-YkUktl {
    right: 7rem;
    top: 0;
    position: absolute;
    z-index: 101;
    width: 220px;
}
.container-YkUktl {
  height: 48px;
}