@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&family=Sofia+Sans:wght@100;300;400;500&display=swap');

$main-clr: hsla(0, 0%, 0%, 0.199);
$bg-primary: hsl(0, 0%, 0%);
$bg-alt: #18191c;
$bg-tetry: var($main-clr);
$bg-over: hsla(0, 0%, 0%, 0.403);
$bg-highlight: #191925;
$font: "Roboto Flex", sans-serif;
$box-shadow: 0 0 3px #848688;
$chat-side-pad: 50px;
