$main-clr: hsla(0, 0%, 0%, 0.199);
$bg-primary: hsl(0, 0%, 0%);
$bg-alt: #18191c;
$bg-tetry: var($main-clr);
$bg-over: hsla(0, 0%, 0%, 0.403);
$bg-highlight: #191925;
$font: "Roboto Flex", sans-serif;
$box-shadow: 0 0 3px #848688;
$chat-side-pad: 50px;
$chat-top-offset: 10px;
$box-shd: 0 0 24px rgba(0, 0, 0, 0.4);
$bg-mod-sel: #848688;
$bg-mod-acc-brd: #0a1c53;
$dock-blur: 10px;
