/**
* @name aesthetic.th
* @author Hootsman#0149
  * @version 0.3
  * @description adapted for float theme. Customisation vars here. Comment/Remove unecessary imports 
  * @authorId #0149
  * @authorLink https://hootsdev.github.io/afk.GG/about
  * @source https://github.com/Hootsdev/Discoteca
  * @website https://hootsdev.github.io/Discoteca/
  * @invite 
  */
  @import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&family=Sofia+Sans:wght@100;300;400;500&display=swap");

  /* *** Server Rings *** */
  @import url(https://objectiveslayer.github.io/ComfyGray/addons/server-rings.css);
  
  /* *** 1. Settings Modal *** */
  @import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css);
  @import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);
  
  /* *** 2. Chat bubbles *** */
  @import url(https://maendisease.github.io/BetterDiscordStuff/css/ChatBubbles.css);
  
  /* *** 3. Radial Status *** */
  @import url(https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css);
  
  /* *** 4. Float addon - optinmize small window *** */
  @import url(https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css);
  
  /* Source */
  @import url(https://maendisease.github.io/BetterDiscordStuff/Themes/Float/Float.css) (max-width: 940px);/*  */
  
  /* If your theme has custom settings icons, delete or comment this line */
  
  /* @import url(https://maendisease.github.io/BetterDiscordStuff/Themes/Float/addon/SettingsIcons.css); */
  
  /* ******************************************************************** */
  
  /* 5. Horizontal Server List */
  
  /* breaks rings, so better not use together */
  
  /* @import url(https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css); */
  
  /* @import url("https://discordstyles.github.io/Addons/bottomhsl.css"); */
  
  /* *********************************************************************************** */
  
  /* TO TEST */
  
  /* Border Roles (makes the text and border the same color as the role color) */
  @import url(https://objectiveslayer.github.io/ComfyGray/addons/roles.css);
  
  /* User Controls Area.. Looks super cool. */
  @import url(https://objectiveslayer.github.io/ComfyGray/addons/user-controls.css);
  @import url(https://objectiveslayer.github.io/ComfyGray/addons/icon-replace.css);
  
  /* floating server list, Remove the comment if you want it */
  
  /* @import url(https://objectiveslayer.github.io/ComfyGray/addons/floating%20guild%20list.css) (max-width: 540px); */
  
  /* aesthetic */
  @import url(https://hootsdev.github.io/Discoteca/css/aesth.css);
  @import url(https://hootsdev.github.io/Discoteca/css/dock.css);
  @import url(https://hootsdev.github.io/Discoteca/css/homeicon.css);
  
  /* palette */
  :root {
    --eb-aa: #eba1aa;
    --eb-lo: #eba100;
    --eb-bo: #eb0b05;
    --eb-os: #ebac0c;
    --eb-ka: #ebacca;
    --bad-s: #bada55;
    --bad-fo: #400bad;
    --bad-so: #500bad;
    --bad-too: #700bad;
    --me-no: #075051;
    --me-eb: #5051eba1;
    --fear: #3acca1;
    --cho: #ebafff;
  }
  
  /* AETH vars */
  :root {
    --font-primary: "Roboto Flex", sans-serif;
    --font-size-modifier: 1;
    --home-icon: url(https://hootsdev.github.io/Discoteca/assets/shield-cat.svg);
    --ava-parameters: 3px outset #00ddd444;
    --selected-chan: var(--mrgreen);
    --selected-chan-a: cyan;
    --hover-chan-a: var(--mrorange);
    --image-wrap: 2px dashed var(--selected-chan-a);
    --brd-clr: #bada55;  /* --window-blur: 20px; */
    --server-bg: #00FFFF20;
    --favorites-icon: initial;
    --dock-position: flex-start;  
    --dock-pad-top: 100px;
    --dock-blur: var(--window-blur);
    --dock-border-radius: 0;
  }
  
  /* 1. Settings modal vars */
  :root {
    --settingsmodalbackground: transparent; /* default: transparent)  */
    --settingsmodalwidth: 800px; /* default:  960px (px/vw)   */
    --settingsmodalheight: 80vh; /* default:  80vh  (hpx/vh)  */
    --settingsicons: 1;
  }
  
  /* 2. Chat Bubbles vars */
  :root {
    --chat-bubble: 1;
    --chat-bubble-background-color: #002a33; /* --chat-bubble-background-color: var(--trans-grey); */
    --chat-bubble-border-color: var(--background-secondary-alt);
    --chat-bubble-code-background-color: #babababe;
    --chat-bubble-box-shadow-h-offset: 2px;
    --chat-bubble-box-shadow-v-offset: 2px;
    --chat-bubble-box-shadow-blur: 10px;
    --chat-bubble-box-shadow-color-h: 180;
    --chat-bubble-box-shadow-color-s: 50%;
    --chat-bubble-box-shadow-color-l: 40%;
    --chat-bubble-box-shadow-color-a: 0.7;
  }
  
  /* 3. Radial Status */
  :root {
    --rs-small-spacing: 1px; /* for members list/dms  | Xpx */
    --rs-medium-spacing: 1px;/* for User popout       | Xpx */
    --rs-large-spacing: 1px; /* for User profiles     | Xpx */
    --rs-small-width: 2px;    /* for members list/dms | Xpx */
    --rs-medium-width: 2px;   /* for User popout      | Xpx */
    --rs-large-width: 2px;    /* for User profile     | Xpx */
    --rs-avatar-shape: 50%; /* 50% for round - 0% for square */
    --rs-online-color: #43b581;
    --rs-idle-color: #faa61a;
    --rs-dnd-color: #f04747;
    --rs-offline-color: #636b75;
    --rs-streaming-color: #643da7;
    --rs-invisible-color: #747f8d; /* Note: only show own invisibility */
    --rs-phone-color: var(--rs-online-color); /* phone icon  */
    --rs-phone-visible: none; /* on|off phone icon | block = visible | none = hidden */
  }
  
  /* 4. Float */
  :root {
  
    /* Guildlist */
    --guildicon-size: 45;
    --enable-if-using-favorites-experiment: 0;  /* boolean */
    --guildlist-collapse: 0;  /* boolean */
  
    /* Channel sidebar */
    --slide-window-on-hover: 1; /* boolean */
    --float-sidebar-width: 64;
    --sidebar-hover-width: 240px;
    --sidebar-hover-delay: 0.2s;
    --sidebar-transition-duration: 0.3s;
    --sidebar-window-gap: 0px;  /* --sidebar-border-radius: 10px; */
    --sidebar-usersettings-width: 60px; /* Memberlist */
    --float-members-width: 50px;
    --members-hover-width: 240px;
    --members-hover-delay: 0.2s;
    --members-transition-duration: 0.3s; /* Channelheader */
    --topic-opacity: 1;
    --toolbar-visibility: none; /* [flex][none] */
  
    /* Textarea buttons */ /* [flex][none] */
    --textarea-buttons-gif: none;
    --textarea-buttons-sticker: none;
    --textarea-buttons-gift: none;  /* Theme compatibility */
    --float-guildlist-width-correction: 10px;
  }
  
  :root {
    --accent: 160, 10, 40;  /* User Controls Area.. Looks super cool. */
    --radius-primary: 10px;
  }
  
  :root {
    --trans-black: hsla(0, 0%, 0%, 0.349);
    --pinky: hsl(305, 100%, 50%);
    --trans-green: hsla(113, 100%, 50%, 0.139);
    --trans-grey: hsla(0, 1%, 28%, 0.144);
    --mrwhite: hsl(0, 0%, 100%);
    --mrorange: hsl(30, 100%, 50%);
    --mryellow: hsl(60, 100%, 50%);
    --mred: hsl(0, 100%, 50%);
    --mrgreen: hsl(124, 100%, 50%);
    --mrgrey: hsl(0, 0%, 67%);
    --status-positive: var(--pinky);
    --background-secondary-alt: #00ddd444;  /* --background-primary: hsl(0, 0%, 0%); */
  
    /* --background-tertiary: var(--trans-black); */
  
    /* --background-secondary: hsla(256, 99%, 38%, 0.901); */
  
    /* --header-bar-background: hsla(185, 100%, 50%, 0.9); */
  
    /* Header
        prim -> server, server pill, channel names and ALL WHITE in general
        sec -> replied msg */
  
    /* --header-primary: var(--mryellow); */
  
    /* statuses */
  
    /* --header-secondary: var(--mrgrey); */
  
    /* --channels-default: rgb(255, 255, 255); */
  
    /* --channel-icon: 0; */
  
    /* --background-mentioned: hsla(40, 100%, 50%, 0.171); */
  
    /* --chat-background: hsla(261, 100%, 49%, 0.966); */
  
    /* ??? */
  
    /* --chat-border: gray; */
  
    /* --chat-input-container-background: rgba(255, 255, 0, 0.671); */
  
    /* bg bot not only */
  
    /* --bg-overlay-chat: hsla(273, 53%, 17%, 0.058); */
  
    /* --bg-overlay-3: hsla(252, 100%, 26%, 0.784); */
  
    /* --bg-overlay-4: hsla(257, 21%, 13%, 0.179) ; */
  
    /* --bg-overlay-selected:hsl(65, 89%, 48%); */
  
    /* --background-modifier-selected: hsl(60, 100%, 50%); */
  
    /* --channel-text-area-placeholder: hsl(0, 0%, 48%); */
  
    /* input field bg */
  
    /* --channeltextarea-background: var(--mryellow); */
  
    /* Forum header */
  
    /* --home-background: var(--header-bar-background); */
  
    /* changing this option often causes discord crashes */
  
    /* --background-accent: hsla(59, 94%, 50%, 0.774); */
  
    /* choosen chanel text, all active elements */
  
    /* --interactive-active: var(--pinky); */
  
    /* --interactive-normal: hsl(280, 100%, 50%); */
  
    /* --interactive-hover: hsl(180, 100%, 50%); */
  
    /* --interactive-muted: rgba(45, 3, 100, 0.579); */
  
    /* --text-normal: hsla(255, 100%, 50%, 0.99); */
  
    /* --text-muted: var(--mrgreen); */
  }
  
  /* The variables are used when the window is at the set sizes, each media query can be edited/deleted */
  @media (max-width:700px) {
    :root {
      --guildicon-size: 45;
      --topic-opacity: 1;
      --toolbar-visibility: none;
      --textarea-buttons-gif: none;
      --textarea-buttons-sticker: none;
    }
  
  }
  