/**
* @name !discodes
* @author Hootsman#0149
  * @version 0.1
  * @description custom modification of xhylo theme 
  * @authorId 666
  * @authorLink https://hootsdev.github.com
  * @source 
  * @website https://hootsdev.github.com
  * @invite gg

  */
/* ********************** */
/* ******* imports ****** */
/* ********************** */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&family=Sofia+Sans:wght@100;300;400&display=swap');


/* vscord */
@import url(https://xhylo.github.io/Visual-Studio-Code-BD-theme/EditedVSCC.theme.css);

/* chat bubbles  */
@import url(https://maendisease.github.io/BetterDiscordStuff/css/ChatBubbles.css);

/* Windows titlebar. | Remove this line to disable. */
@import url(https://discordstyles.github.io/Addons/windows-titlebar.css);

/* mac os titlebar. | Remove this line to disable. */
/* @import url(https://maendisease.github.io/BetterDiscordStuff/Themes/Solana/addon/mac-titlebar.css); */

/* important to load last */
@import url(https://hootsdev.github.io/Discoteca/css/disc.css);

/* Bottom HorizontalServerList. Simply remove the comments surrounding the @import to enable it. */
@import url(https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css);
@import url("https://discordstyles.github.io/Addons/bottomhsl.css");
/* ************************ */
/* ******* Variables ****** */
/* ************************ */

/* VSC Cord */
:root {
  --color-brand: #009a9a;
  --color-brand-darker: #0c1420;
  --color-brand-lighter: #4373c5;
  --color-red: #e91916;
  --color-red-darker: #bb1411;
  --color-orange: #ffca61;
  --color-orange-darker: #fcc439;
  --background-orange: rgba(255, 165, 0, 0.1);
  --color-green: #44fd0b;
  --color-green-darker: #a5a5a5b7;
  --color-gray: #72767d;
  --color-gray-darker: #4f545c;
  --shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 0 4px rgba(0, 0, 0, 0.4);
  --shadow-bottom: 0 1px 2px rgba(0, 0, 0, 0.9), 0 0 2px rgba(0, 0, 0, 0.9);
  --user-background: #0000ff;
  /* font-size: 19px; */
  /* font-weight: 900; */
}

:root {
  /* HSL */
  /* --server-size: var(--HSL-server-icon-size, var(--HSL-size, 35px));
    --server-spacing: var(--HSL-server-spacing, var(--HSL-spacing, 10px)); */
  --server-container: calc(var(--server-size) + 30px);
  /* --server-direction: var(--HSL-server-direction, column);
    --server-alignment: var(--HSL-server-alignment, flex-start); */
  --HSL-server-icon-size: 35px;
}
:root {
  --TB-position-top: 0;
  --TB-position-right: 0;
  --TB-height: 22px;
  /* --TB-tr-roundness: 1rem; */
  /* topbar pos */
  --TB-header-padding: 300px;
  /* --TB-bar-height: 0; */
  --TB-width: 22px;
}

:root {
  --chat-bubble: 1;
  --bgsa: hsla(185, 100%, 50%, 0.733);
  --chat-bubble-background-color: hsl(180, 16%, 7%);
  /* --chat-bubble-background-color: var(--trans-grey); */
  --chat-bubble-border-color: var(--bgsa);
  --chat-bubble-code-background-color: hsla(291, 100%, 29%, 0.76);

  --chat-bubble-box-shadow-h-offset: 2px;
  --chat-bubble-box-shadow-v-offset: 2px;
  --chat-bubble-box-shadow-blur: 0;

  --chat-bubble-box-shadow-color-h: 180;
  --chat-bubble-box-shadow-color-s: 50%;
  --chat-bubble-box-shadow-color-l: 40%;
  --chat-bubble-box-shadow-color-a: 0.2;
}
:root {
  /* dock */
  --home-icon: url(https://hootsdev.github.io/Discoteca/assets/shield-cat.svg);
  --favorites-icon: initial;
  --dock-blur: var(--window-blur);
  --dock-border-radius: 0;
}

:root {
  --font-primary: 'Sofia+Sans', "Roboto Flex", sans-serif;
  /* MuseoModerno, mononoki NF, Liga SFMono Nerd Font, SF Pro Rounded, Gill Sans; */
  --font-size-modifier: 1.2;
  /* --main-clr: hsla(256, 100%, 47%, 0.205); */
  /* --main-clr: hsla(0, 0%, 0%, 0.22); */
  --main-clr: hsla(0, 0%, 0%, 0.199);
  --alt-clr: #18191c;
  --background-primary: hsl(0, 0%, 0%);
  --background-tertiary: var(--main-clr);
  --background-secondary: var(--alt-clr);
  --background-secondary-alt: var(--alt-clr);
  --bg-overlay-chat: hsl(0, 0%, 0%);
  --bg-overlay-app-frame: hsla(0, 0%, 0%, 0.403);
  /* --bg-overlay-selected: hsl(186, 100%, 50%); */
  --text-link: hsl(186, 100%, 50%);

  --btn-upan-modifier: var(--TB-width);
  --chat-side-pad: 50px;
  --box-shadow-outer-2: 5px 5px 5px #232428;
}
