/**
* @name Discode.th
* @author Hootsman#0149
  * @version 0.2
  * @description custom modification of xhylo theme 
  * @source https://github.com/Hootsdev/Discoteca
  * @website https://hootsdev.github.io/Discoteca/
  * @invite gg
  */

/* ********************** */
/* ******* imports ****** */
/* ********************** */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&family=Sofia+Sans:wght@100;300;400;500&display=swap');


/* 4. Float addon - optinmize small window, make list more compact */
/* ********************************************************************************************************** */
@import url(https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css);

/* vscord */
@import url(https://xhylo.github.io/Visual-Studio-Code-BD-theme/EditedVSCC.theme.css);

/* chat bubbles  */
@import url(https://maendisease.github.io/BetterDiscordStuff/css/ChatBubbles.css);

/* Windows titlebar. ↓ Comment this line to disable. */
/* @import url(https://discordstyles.github.io/Addons/windows-titlebar.css); */

/* mac os titlebar. ↓ Comment this line to disable. */
/* @import url(https://maendisease.github.io/BetterDiscordStuff/Themes/Solana/addon/mac-titlebar.css); */

/* Bottom HorizontalServerList. Simply remove the comments surrounding the @import to enable it. */
/* @import url(https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css); */
/* @import url(https://discordstyles.github.io/Addons/bottomhsl.css); */

/* important to load last */
@import url(https://hootsdev.github.io/Discoteca/css/disc.css);

/* ************************ */
/* ******* Variables ****** */
/* ************************ */

/* VSC Cord options */
:root {
  --color-brand: #009a9a;
  --color-brand-darker: #0c1420;
  --color-brand-lighter: #4373c5;
  --color-red: #e91916;
  --color-red-darker: #bb1411;
  --color-orange: #eba100;
  --color-orange-darker: #ffae00;
  --background-orange: rgba(255, 165, 0, 0.1);
  --color-green: #44fd0b;
  --color-green-darker: #a5a5a5b7;
  --color-gray: #72767d;
  --color-gray-darker: #4f545c;
  --shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 0 4px rgba(0, 0, 0, 0.4);
  --shadow-bottom: 0 1px 2px rgba(0, 0, 0, 0.9), 0 0 2px rgba(0, 0, 0, 0.9);
  --user-background: #0000ff;
}



/* Horizontal Serever List options */
:root {
  /* --server-size: var(--HSL-server-icon-size, var(--HSL-size, 35px));
    --server-spacing: var(--HSL-server-spacing, var(--HSL-spacing, 10px)); */
  --server-container: calc(var(--server-size) + 30px);
  /* --server-direction: var(--HSL-server-direction, column);
    --server-alignment: var(--HSL-server-alignment, flex-start); */
  --HSL-server-icon-size: 35px;
}

/* Title Bar options */
:root {
  --TB-position-top: 0;
  --TB-position-right: 0;
  --TB-height: 21px;
  --TB-tr-roundness: 0;
  --TB-header-padding: 300px;
  --TB-bar-height: 0;
  --TB-width: 30px;
}

/* Chat Bubbles options */
:root {
  --chat-bubble: 1;
  --bgsa: hsla(185, 100%, 50%, 0.733);
  --chat-bubble-background-color: hsl(180, 16%, 7%);
  --chat-bubble-border-color: var(--bgsa);
  --chat-bubble-code-background-color: hsla(291, 100%, 29%, 0.76);
  --chat-bubble-box-shadow-h-offset: 2px;
  --chat-bubble-box-shadow-v-offset: 2px;
  --chat-bubble-box-shadow-blur: 0;
  --chat-bubble-box-shadow-color-h: 180;
  --chat-bubble-box-shadow-color-s: 50%;
  --chat-bubble-box-shadow-color-l: 40%;
  --chat-bubble-box-shadow-color-a: 0.2;
}
/* dock options */
:root {
  --home-icon: url(https://hootsdev.github.io/Discoteca/assets/shield-cat.svg);
  --favorites-icon: initial;
  --dock-blur: var(--window-blur);
  --dock-border-radius: 0;
}

/* Other options */
:root {
  --font-size-modifier: 1.2;
  --brd-clr: #5000bb;
  --brd-alt-clr:#00e5ff;
  --text-link: #008cff;
}
