.homeIcon-r0w4ny path,
.favoriteIcon-2kWmTP path {
  display: none;
}

.avatar-2e8lTP {
  border: var(--ava-parameters);
}

.homeIcon-r0w4ny,
.favoriteIcon-2kWmTP {
  min-width: 100%;
  min-height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.theme-dark .homeIcon-r0w4ny,
.theme-light .homeIcon-r0w4ny,
.wrapper-3kah-n.selected-1Drb7Z .homeIcon-r0w4ny,
.wrapper-3kah-n:hover .homeIcon-r0w4ny {
  background-image: var(--home-icon);
}

.theme-dark .favoriteIcon-2kWmTP,
.theme-light .favoriteIcon-2kWmTP,
.wrapper-3kah-n.selected-1Drb7Z .favoriteIcon-2kWmTP,
.wrapper-3kah-n:hover .favoriteIcon-2kWmTP {
  background-image: var(--fav-icon);
}
