<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Permissions-Policy" content="interest-cohort=()">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{{ '/favicon.png' | relative_url }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
  <link rel="stylesheet" href="https://hootsdev.github.io/afk.GGWP/assets/css/base.css">
  <link rel="stylesheet" href="{{ '/assets/css/gh.css' | relative_url }}">

</head>
<title>{{ site.title }}</title>

<body>
  <nav class="menu">
    <ul class="v-effect-link">
      <li><a href="https://hootsdev.github.io/afk.GGWP/">↟ Up ↟</a></li>
      <div class="dropdown">
        <span>Discord</span>
        <div class="dropdown-content">
          <ol>
            <li><a href="https://hootsdev.github.io/afk.GGWP/dis">Community Servers</a></li>
            <li><a href="https://hootsdev.github.io/Discoteca/">BD Themes</a></li>
          </ol>
        </div>
      </div>
      <li><a href="https://hootsdev.github.io/afk.GGWP/about">About</a></li>
      <!-- <li><a href="/afk.GG/404">About</a></li> -->
    </ul>
  </nav>
  <div class="bd-body">
    {{ content }}
  </div>
  <footer>
  </footer>
</body>

</html>
